.popup__inner {
  overflow: auto;
}

.popup__inner::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.popup__inner::-webkit-scrollbar-track {
  background-color: var(--color-light);
}

.popup__inner::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
}

@-moz-document url-prefix()  {
  .popup__inner {
    scrollbar-color: var(--color-accent) var(--color-light);
    scrollbar-width: thin;
  }
}

.seo {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: DIN;
  font-display: swap;
  src: url("../fonts/DIN-Bold.woff2") format("woff2"), url("../fonts/DIN-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.heading__tag,
.info__close,
.info__title,
.hero__category,
.footer-info__link,
.footer-menu__link,
.menu__link,
.btn,
._h2,
._h1 {
  font-family: DIN, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: initial;
}

@font-face {
  font-family: DIN;
  font-display: swap;
  src: url("../fonts/DIN-Medium.woff2") format("woff2"), url("../fonts/DIN-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.article-card__title {
  font-family: DIN, sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Bold.woff2") format("woff2"), url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Bold-Italic.woff2") format("woff2"), url("../fonts/Mulish-Bold-Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Medium-Italic.woff2") format("woff2"), url("../fonts/Mulish-Medium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2"), url("../fonts/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.facts-slider__text {
  font-family: Mulish, sans-serif;
  font-weight: 600;
}

@font-face {
  font-family: Mulish;
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"), url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: Mulish, sans-serif;
  font-weight: 400;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  border-radius: 0;
}

input:-webkit-autofill {
  -webkit-text-fill-color: transparent;
  -webkit-transition: background-color 600s ease-in-out 0s;
  transition: background-color 600s ease-in-out 0s;
}

button {
  cursor: pointer;
}

[href^="tel:"] {
  white-space: nowrap;
}

[type=search]::-webkit-search-decoration,
[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

[type=search] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  outline-offset: -2px;
  /* Fix outline style in Safari */
}

html,
body {
  height: 100%;
}

:root {
  --width-page: 100vw;
  --height-page: 100vh;
  --height-nav: 76px;
  --height-btn: 46px;
  --padding-page: 15px;
  --gap: 25px;
  --color-dark: #3a2a2b;
  --color-grey: #4f6991;
  --color-main: #ff9ab3;
  --color-main-dark: #ff83a2;
  --color-main-light: #ffe6ec;
  --color-accent: #3a5ecf;
  --color-secondary-1: #00d2f2;
  --color-secondary-2: #ea7ae8;
  --color-light: #c5d8ff;
  --color-white: #ffffff;
  --transition-duration: 0.5s;
  --radius-large: 30px;
  --radius-medium: 20px;
  --radius-small: 12px;
  --text-large: 18px;
  --text-medium: 16px;
  --text-normal: 14px;
  --text-small: 12px;
  --text-smallest: 10px;
}

html.is-lock {
  overflow: clip;
}

html,
body {
  font-size: var(--text-normal);
  line-height: 1.4;
  color: var(--color-dark);
  background-color: var(--color-white);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.page {
  flex: 1 1 auto;
}

.page_small {
  display: flex;
  flex-direction: column;
}

.page_small > *:last-child {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

._undercross-top {
  padding-top: var(--radius-large);
}

._undercross-bottom {
  padding-bottom: var(--radius-large);
}

[class^=_overcross-],
[class*=" _overcross-"] {
  position: relative;
  z-index: 1;
}

._overcross-top {
  margin-top: calc(-1 * var(--radius-large));
  border-top-right-radius: var(--radius-large);
  border-top-left-radius: var(--radius-large);
}

._overcross-bottom {
  margin-bottom: calc(-1 * var(--radius-large));
  border-bottom-right-radius: var(--radius-large);
  border-bottom-left-radius: var(--radius-large);
}

._h1 {
  font-size: 26px;
}

._h2 {
  font-size: 30px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--height-btn);
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 16px;
  color: inherit;
  background-color: transparent;
  border: none;
  border-radius: var(--height-btn);
  transition-duration: var(--transition-duration);
  transition-property: color, background-color, border-color;
}

.btn:focus-visible {
  outline: none;
}

.btn:not(.btn_large) {
  padding: 0 20px;
}

.btn_large {
  padding: 0 36px;
}

.btn_main {
  color: var(--color-white);
  background-color: var(--color-main);
}

.btn_main:focus-visible {
  outline: none;
  background-color: var(--color-main-dark);
}

.btn_accent {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.btn_accent:focus-visible {
  outline: none;
  background-color: #5276e7;
}

.btn_secondary-1 {
  color: var(--color-white);
  background-color: var(--color-secondary-1);
}

.btn_secondary-1:focus-visible {
  outline: none;
  background-color: #0ac3df;
}

.btn_secondary-2 {
  color: var(--color-white);
  background-color: var(--color-secondary-2);
}

.btn_secondary-2:focus-visible {
  outline: none;
  background-color: #d95dd7;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}

.header__body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
}

.logo {
  flex-shrink: 0;
  display: inline-block;
}

.logo_header {
  height: var(--height-btn);
}

.logo_footer {
  height: 42px;
}

.logo__img {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.menu {
  flex-shrink: 0;
  display: flex;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__list + .menu__list {
  margin-left: 10px;
}

._nav-menu .menu__item:nth-child(n+5) {
  display: none;
}

._help-menu .menu__item:nth-child(n+2) {
  display: none;
}

.menu__item + .menu__item {
  margin-left: 10px;
}

.menu__link {
  padding: 0 22px;
  color: var(--color-white);
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--height-btn);
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  color: var(--color-white);
  border-radius: var(--height-btn);
}

.menu__link:not(.menu__link_btn) {
  background-color: var(--color-main);
}

.menu__link:not(.menu__link_btn):focus-visible {
  outline: none;
  background-color: #ff83a2;
}

.menu__link_btn {
  background-color: var(--color-accent);
}

.menu__link_btn:focus-visible {
  outline: none;
  background-color: #5276e7;
}

.footer {
  background-color: var(--color-white);
}

.footer__body {
  padding: 34px 0;
}

.footer__main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -14px -34px;
}

.footer__box {
  flex-grow: 1;
  margin: 0 14px 34px;
}

.footer__info {
  margin-top: 46px;
}

.footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px 16px;
}

.footer-menu__link {
  font-size: 14px;
  color: #e65a80;
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.footer-menu__link:focus-visible {
  outline: none;
  color: var(--color-main);
}

.footer-shop {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px -12px;
}

.footer-shop__item {
  flex-grow: 1;
  margin: 0 6px 12px;
}

.footer-shop__link {
  width: 100%;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -22px;
}

.footer-info__item {
  margin: 0 15px 22px;
}

.footer-info__link {
  font-size: 14px;
  color: var(--color-main);
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.footer-info__link:focus-visible {
  outline: none;
  color: var(--color-main-dark);
}

.video {
  position: relative;
  transform: rotate(-1.5deg);
  box-sizing: content-box;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  margin: 0 -10px;
  font-size: 0;
  border: 10px solid var(--color-main-light);
  border-radius: var(--radius-medium);
  overflow: hidden;
  cursor: pointer;
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;
}

.video img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.video__link,
.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 16%;
  height: auto;
  aspect-ratio: 1/1;
  color: var(--color-white);
  background-color: var(--color-secondary-1);
  border: none;
  border-radius: 50%;
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;
}

.video__btn:focus-visible {
  outline: none;
}

.video__btn svg {
  width: 35%;
  height: auto;
  aspect-ratio: 1/1;
}

.video_init .video__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  position: fixed;
  z-index: -5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(from var(--color-dark) r g b/0.8);
  transition-duration: var(--transition-duration);
  transition-property: opacity;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.popup.is-open {
  z-index: 20;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.popup__body {
  position: relative;
  display: flex;
  max-height: 96%;
  background-color: var(--color-white);
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 18px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-accent);
  transition-duration: var(--transition-duration);
  transition-property: background-color;
}

.popup__close::before {
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
}

.popup__close::after {
  transform: translateY(50%) rotate(45deg);
  bottom: 50%;
}

.popup__close:focus-visible {
  outline: none;
}

.popup__close:focus-visible::before,
.popup__close:focus-visible::after {
  background-color: var(--color-dark);
}

.popup__close:active::before,
.popup__close:active::after {
  background-color: var(--color-dark);
}

.popup__inner {
  flex-shrink: 0;
  flex-grow: 1;
  transform: translate3d(0, 0, 0);
  max-width: 100%;
  max-height: 100%;
}

.cookie {
  display: none !important;
  position: fixed;
  z-index: 8;
  bottom: calc(20px + var(--height-nav));
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100% - var(--padding-page) * 2);
  padding: 20px;
  background-color: #ece9ff;
  border-radius: var(--radius-medium);
}

.cookie__text a {
  color: #e65a80;
  text-decoration: underline;
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.cookie__text a:focus-visible {
  outline: none;
  color: var(--color-main);
}

.cookie__btn {
  margin: 20px 0 0;
}

.no-webp .hero {
  background: #f4f9ff url("./../img/content/decor/hero_bg.png") center/cover no-repeat; }

.hero__body {
  padding: 76px 0 40px;
  text-align: center;
}

.hero__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.hero__title {
  position: relative;
  z-index: 1;
}

.hero__title:not(:last-child) {
  margin-bottom: 14px;
}

.hero__title strong,
.hero__title b {
  display: inline-block;
  position: relative;
  color: var(--color-secondary-1);
}

.hero__title strong::after,
.hero__title b::after {
  content: "";
  z-index: -2;
  position: absolute;
  top: 66%;
  left: -2%;
  aspect-ratio: 311/46;
  width: 102%;
  background: url("./../img/content/decor/underline.svg") center/contain no-repeat;
}

.hero__text {
  max-width: 300px;
}

.hero__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 380px;
  margin: 0 auto;
}

.hero__item {
  color: var(--color-dark);
}

.hero__item:focus-visible {
  outline: none;
}

.hero__item:focus-visible .hero__preview {
  transform: translate(-50%, -50%) scale(0.9);
}

.hero__item:focus-visible .hero__preview-box {
  color: var(--color-hover) !important;
}

.hero__item:focus-visible .hero__preview-box svg {
  transform: translate(-50%, -50%) rotate(16deg);
}

.hero__item:focus-visible .hero__category {
  transform: translateY(-50%);
}

.hero__preview-box {
  position: relative;
  aspect-ratio: 294/281;
  color: var(--color-white);
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.hero__preview-box svg {
  position: absolute;
  transform: translate(-50%, -50%);
  transition-duration: var(--transition-duration);
  transition-property: transform;
}

.hero__preview-box svg path {
  fill: currentColor;
}

.hero__item:nth-child(1) .hero__preview-box svg {
  top: 52%;
  left: 49%;
  width: 78%;
  aspect-ratio: 252/203;
}

.hero__item:nth-child(2) .hero__preview-box svg {
  top: 47%;
  left: 42%;
  width: 88%;
  aspect-ratio: 294/173;
}

.hero__item:nth-child(3) .hero__preview-box svg {
  top: 53%;
  left: 47%;
  width: 78%;
  aspect-ratio: 252/210;
}

.hero__item:nth-child(4) .hero__preview-box svg {
  top: 56%;
  left: 49%;
  width: 80%;
  aspect-ratio: 247/195;
}

.hero__preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  transition-duration: var(--transition-duration);
  transition-property: transform;
}

.hero__category {
  font-size: 16px;
  transition-duration: var(--transition-duration);
  transition-property: transform;
}

.video-info {
  background-color: var(--color-white);
  overflow: hidden;
}

.video-info__body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 0;
}

.video-info__title {
  max-width: 600px;
  margin-bottom: 40px;
  text-align: center;
  color: var(--color-main);
}

.facts {
  background-color: var(--color-white);
  overflow: hidden;
}

.facts__body {
  padding: 34px 0;
}

.facts__title {
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  text-align: center;
  color: var(--color-main);
}

.facts-slider__wrapper {
  width: 100%;
}

.facts-slider__items {
  position: relative;
  display: flex;
  width: 100%;
  will-change: transform;
}

.is-slider-lock .facts-slider__items {
  justify-content: center;
}

.facts-slider__item {
  --padding-y: 60px;
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 154px;
  min-height: 210px;
  padding: var(--padding-y) 8px;
  background-color: var(--color-main-light);
  border-radius: var(--radius-medium);
  overflow: hidden;
  transition-duration: var(--transition-duration);
  transition-property: color, background-color, border-color, opacity, transform;
}

.no-webp .facts-slider__item::before, .no-webp .facts-slider__item::after {
  background-image: url("./../img/content/decor/facts.png"); }

.facts-slider__item::before,
.facts-slider__item::after {
  content: "";
  position: absolute;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.facts-slider__item::before {
  bottom: calc(100% - var(--padding-y));
  right: 45%;
  width: 70%;
}

.facts-slider__item::after {
  top: calc(100% - var(--padding-y));
  width: 85%;
  left: 22%;
}

.is-slider-lock .facts-slider__item:last-child {
  margin-right: 0 !important;
}

.facts-slider__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.is-slider-lock .facts-slider__actions {
  display: none;
}

.facts-slider__button {
  position: relative;
  aspect-ratio: 82/64;
  width: 56px;
  color: var(--color-white);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--color-main);
  border-radius: var(--height-btn);
  border: none;
  overflow: hidden;
  transition-duration: var(--transition-duration);
  transition-property: background-color;
}

.facts-slider__button:focus-visible {
  outline: none;
  background-color: var(--color-accent);
}

.facts-slider__button_prev {
  background-image: url("./../img/icons/arrow-left.svg");
}

.facts-slider__button_next {
  background-image: url("./../img/icons/arrow-right.svg");
}

.facts-slider__button + .facts-slider__button {
  margin-left: 12px;
}

.facts-slider__text {
  position: relative;
  z-index: 1;
  text-align: center;
}

.facts-slider__text i,
.facts-slider__text em {
  font-weight: 700;
  font-style: italic;
}

.category {
  position: relative;
  overflow: hidden;
}

.no-webp .category::before {
  background: url("./../img/content/decor/bottom_bg.png") top center/cover repeat-x; }

.category::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300%;
  aspect-ratio: 192/23;
}

.category__body {
  position: relative;
  padding: 50px 0 40px;
}

.category__head {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  text-align: center;
}

.category__title {
  margin-bottom: 20px;
}

.category__items {
  display: flex;
  flex-direction: column;
}

.category__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.category__btn {
  margin-top: 20px;
}

.article-card {
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--color-dark);
  background-color: var(--color-white);
  border-radius: var(--radius-medium);
  overflow: hidden;
}

.article-card__link {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
}

.article-card__link:focus-visible {
  outline: none;
}

.article-card__link:focus-visible ~ .article-card__img-box .article-card__img {
  transform: translate(-50%, -50%) scale(1.05);
}

.article-card__link:focus-visible ~ .article-card__icon {
  background-color: var(--color-accent);
}

.article-card__title {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  max-width: 52%;
  padding: 12px 12px 0px;
  font-size: 16px;
  line-height: 1.03;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article-card__img-box {
  position: relative;
  flex-shrink: 0;
  aspect-ratio: 752/313;
  width: 100%;
}

.article-card__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom center;
     object-position: bottom center;
  transition-duration: var(--transition-duration);
  transition-property: transform;
}

.article-card__icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  aspect-ratio: 82/64;
  width: 32px;
  background: var(--color-main) url("./../img/icons/arrow-right.svg") center/contain no-repeat;
  border-radius: var(--height-btn);
  overflow: hidden;
  transition-duration: var(--transition-duration);
  transition-property: background-color;
}

.info {
  background-color: var(--color-main-light);
  overflow: hidden;
}

.info__title {
  position: relative;
  width: 100%;
  min-height: calc(2 * var(--radius-large));
  padding: 23px;
  list-style: none;
  text-align: center;
  font-size: 20px;
  color: var(--color-main);
  background-color: var(--color-main-light);
  border: none;
  border-radius: var(--radius-large);
  cursor: pointer;
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;
}

.info__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--width-page);
  height: 100%;
  background-color: var(--color-main-light);
  border-radius: var(--radius-large);
  transition-duration: var(--transition-duration);
  transition-property: background-color;
}

.info__title:focus-visible {
  outline: none;
  color: var(--color-white);
}

.info__title:focus-visible::before {
  background-color: var(--color-main-dark);
}

.info__title._spoller-active {
  color: var(--color-main) !important;
  background-color: var(--color-main-light) !important;
}

.info__title._spoller-active::before {
  background-color: var(--color-main-light) !important;
}

.info__title span {
  position: relative;
  z-index: 1;
}

.info__inner {
  padding-bottom: 23px;
}

.info__content {
  max-width: 920px;
  margin: 0 auto;
}

.info__content ol {
  padding-left: 30px;
}

.info__content a {
  word-break: break-word;
}

.info__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.info__close {
  text-align: center;
  font-size: 14px;
  color: var(--color-main);
  background-color: transparent;
  border: none;
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.info__close:focus-visible {
  outline: none;
  color: var(--color-main-dark);
}

.heading {
  position: relative;
  background-color: #f1efff;
}

.heading__body {
  padding-top: 80px;
}

.heading__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
  text-align: center;
}

.heading__tag {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 14px;
  font-size: 12px;
  line-height: 1;
  color: var(--color-white);
  background-color: #d3cfff;
  border-radius: var(--height-btn);
}

.heading__title {
  max-width: 350px;
}

.heading__img-box {
  margin: 0 calc(-1 * var(--padding-page)) calc(-1 * var(--radius-large));
}

.heading__img {
  aspect-ratio: 360/231;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.article__main {
  background-color: var(--color-white);
}

.article__body {
  min-height: 400px;
  padding: 50px 0 40px;
}

@media (min-width: 359.98px) {
  html {
    --66: 2;
  }
}

@media (min-width: 479.98px) {
  .cookie {
    flex-direction: row;
    align-items: center;
  }

  .cookie__btn {
    margin: 0 0 0 20px;
  }

  .hero__title {
    max-width: 440px;
  }

  .hero__text {
    max-width: 440px;
  }

  .facts-slider__item {
    width: 176px;
  }

  .category__btn {
    align-self: center;
  }

  .heading__img-box {
    width: 100%;
    margin: 0;
  }

  .heading__img {
    aspect-ratio: 1144/475;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media (min-width: 575.98px) {
  .container {
    max-width: 570px;
  }

  ._h1 {
    font-size: 32px;
  }

  ._h2 {
    font-size: 36px;
  }

  .cookie {
    max-width: 540px;
  }

  .hero__body {
    padding: 88px 0 52px;
  }

  .hero__title {
    max-width: 560px;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 24px;
  }

  .category::before {
    width: 200%;
  }

  .article-card__title {
    padding: 20px 20px 0px;
  }

  .article-card__icon {
    right: 20px;
    bottom: 20px;
    width: 48px;
  }

  .heading__body {
    padding-top: 100px;
  }
}

@media (min-width: 767.98px) {
  :root {
    --height-btn: 54px;
    --radius-large: 40px;
    --radius-medium: 30px;
    --radius-small: 16px;
    --text-normal: 16px;
  }

  .container {
    max-width: 750px;
  }

  .btn_large {
    --height-btn: 60px;
  }

  .footer__body {
    padding: 52px 0 40px;
  }

  .footer-menu__link {
    font-size: 16px;
  }

  .footer-info__link {
    font-size: 16px;
  }

  .video {
    max-width: 80%;
  }

  .video__btn {
    width: 13%;
  }

  .cookie {
    max-width: 680px;
  }

  .hero__body {
    padding: 100px 0 64px;
  }

  .hero__text {
    max-width: 500px;
  }

  .hero__category {
    font-size: 18px;
  }

  .video-info__body {
    padding: 54px 0 40px;
  }

  .video-info__title {
    margin-bottom: 52px;
  }

  .facts__body {
    padding: 54px 0 40px;
  }

  .facts__title {
    margin-bottom: 36px;
  }

  .facts-slider__wrapper {
    padding: 10px;
    margin: -10px;
    overflow: hidden;
  }

  .facts-slider__item {
    --padding-y: 80px;
    width: 226px;
    min-height: 272px;
  }

  .facts-slider__item:nth-child(even) {
    transform: rotate(3deg);
  }

  .facts-slider__item:nth-child(odd) {
    transform: rotate(-2deg);
  }

  .facts-slider__button {
    width: 64px;
  }

  .category__body {
    padding: 66px 0 54px;
  }

  .category__head {
    margin-bottom: 30px;
  }

  .category__grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .category__btn {
    margin-top: 36px;
  }

  .article-card__title {
    position: static;
    flex-grow: 1;
    display: block;
    max-width: 100%;
    font-size: 18px;
  }

  .article-card__title:not(:last-child) {
    margin-bottom: 12px;
  }

  .article-card__img-box {
    aspect-ratio: 413/313;
  }

  .article-card__img {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .info__title {
    padding: 34px;
    font-size: 28px;
  }

  .info__inner {
    padding-bottom: 34px;
  }

  .info__action {
    margin-top: 30px;
  }

  .info__close {
    font-size: 16px;
  }

  .heading__tag {
    font-size: 14px;
  }

  .article__body {
    padding: 66px 0 54px;
  }
}

@media (min-width: 1023.98px) {
  :root {
    --height-nav: 0px;
    --height-btn: 62px;
  }

  .container {
    max-width: 970px;
  }

  ._h1 {
    font-size: 46px;
  }

  ._h2 {
    font-size: 48px;
  }

  .btn {
    font-size: 18px;
  }

  .btn:not(.btn_large) {
    padding: 0 30px;
  }

  .btn_large {
    --height-btn: 70px;
    padding: 0 60px;
  }

  .header .container {
    max-width: 1866px;
  }

  .header__body {
    padding: 20px 0;
  }

  .logo_footer {
    height: 50px;
  }

  .footer__body {
    padding: 66px 0 50px;
  }

  .footer__box_menu {
    max-width: 662px;
  }

  .footer-menu {
    padding: 0 16px;
  }

  .footer-menu__link {
    font-size: 18px;
  }

  .footer-info__item:first-child {
    min-width: 228px;
  }

  .footer-info__link {
    font-size: 18px;
  }

  .video {
    margin: 0 -14px;
    border-width: 14px;
  }

  .cookie {
    padding: 20px 32px;
  }

  .hero__body {
    padding: 124px 0 82px;
  }

  .hero__head {
    margin-bottom: 20px;
  }

  .hero__title {
    max-width: 780px;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 34px;
  }

  .hero__items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    max-width: 920px;
  }

  .video-info__body {
    padding: 74px 0 60px;
  }

  .video-info__title {
    margin-bottom: 66px;
  }

  .facts__body {
    padding: 74px 0 60px;
  }

  .facts__title {
    margin-bottom: 60px;
  }

  .facts-slider {
    position: relative;
  }

  .facts-slider__item {
    width: 220px;
  }

  .facts-slider__actions {
    position: absolute;
    right: 0;
    bottom: calc(100% + 60px);
    min-height: var(--height-title);
    margin-top: 0;
  }

  .facts-slider__button {
    width: 72px;
  }

  .facts-slider__button + .facts-slider__button {
    margin-left: 16px;
  }

  .category::before {
    width: 100%;
  }

  .category__body {
    padding: 82px 0 74px;
  }

  .article-card__title {
    max-width: 90%;
  }

  .article-card__icon {
    width: 62px;
  }

  .heading__body {
    min-height: 480px;
    padding: 146px 0 120px;
  }

  .heading__content {
    position: relative;
    z-index: 1;
    align-items: flex-start;
    flex-direction: column-reverse;
    margin-bottom: 0;
    text-align: left;
  }

  .heading__tag {
    padding: 20px;
    margin-bottom: 20px;
  }

  .heading__title {
    max-width: 500px;
  }

  .heading__img-box {
    position: absolute;
    bottom: 0;
    left: calc(50% + 280px);
    transform: translateX(-50%);
    width: 900px;
  }

  .article__body {
    padding: 82px 0 74px;
  }

  .article__body {
    min-height: 600px;
  }
}

@media (min-width: 1365.98px) {
  :root {
    --height-btn: 72px;
    --radius-large: 50px;
    --radius-medium: 40px;
    --radius-small: 20px;
    --text-normal: 18px;
  }

  .container {
    max-width: 1350px;
  }

  ._h1 {
    font-size: 60px;
  }

  ._h2 {
    font-size: 60px;
  }

  .btn {
    font-size: 20px;
  }

  .btn:not(.btn_large) {
    padding: 0 40px;
  }

  .btn_large {
    --height-btn: 84px;
    padding: 0 90px;
  }

  .logo_footer {
    height: 60px;
  }

  .menu__link {
    padding: 0 40px;
    font-size: 20px;
  }

  .footer__body {
    padding: 80px 0 60px;
  }

  .footer__box_menu {
    max-width: 469px;
  }

  .footer__info {
    margin-top: 56px;
  }

  .footer-menu {
    gap: 22px 40px;
  }

  .footer-menu__link {
    font-size: 20px;
  }

  .footer-info__item:first-child {
    min-width: 340px;
  }

  .footer-info__link {
    font-size: 20px;
  }

  .video {
    max-width: 930px;
    margin: 0 -18px;
    border-width: 18px;
  }

  .cookie {
    max-width: 1090px;
    font-size: 16px;
  }

  .hero__body {
    padding: 150px 0 100px;
  }

  .hero__head {
    margin-bottom: 40px;
  }

  .hero__title {
    max-width: 1020px;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 44px;
  }

  .hero__text {
    max-width: 720px;
  }

  .hero__items {
    max-width: 100%;
  }

  .hero__category {
    font-size: 20px;
  }

  .video-info__body {
    padding: 100px 0 80px;
  }

  .no-webp .video-info__body::after {
    background: url("./../img/content/art/decor-1.png") center bottom/cover no-repeat; }

  .video-info__body::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: calc(50% - 740px);
    transform: translateX(-50%);
    width: 840px;
    height: 388px;
    pointer-events: none;
  }

  .is-video-active .video-info__body::after {
    z-index: -1;
  }

  .video-info__title {
    margin-bottom: 80px;
  }

  .facts__body {
    padding: 100px 0 80px;
  }

  .facts__title {
    margin-bottom: 80px;
  }

  .facts-slider__wrapper {
    padding: 20px;
    margin: -20px;
  }

  .facts-slider__item {
    --padding-y: 110px;
    width: 301px;
    min-height: 336px;
    padding: var(--padding-y) 20px;
  }

  .facts-slider__item:nth-child(even) {
    transform: rotate(5deg);
  }

  .facts-slider__item:nth-child(odd) {
    transform: rotate(-6deg);
  }

  .facts-slider__actions {
    bottom: calc(100% + 80px);
  }

  .facts-slider__button {
    width: 82px;
  }

  .facts-slider__button + .facts-slider__button {
    margin-left: 24px;
  }

  .category__body {
    padding: 100px 0 96px;
  }

  .category__head {
    max-width: 800px;
    margin-bottom: 40px;
  }

  .category__grid {
    gap: 40px;
  }

  .category__btn {
    margin-top: 60px;
  }

  .article-card__title {
    padding: 30px 30px 0;
    font-size: 22px;
  }

  .article-card__icon {
    right: 30px;
    bottom: 30px;
    width: 82px;
  }

  .info__title {
    padding: 45px;
    font-size: 36px;
  }

  .info__inner {
    padding-bottom: 45px;
  }

  .heading__body {
    min-height: 590px;
    padding: 170px 0 150px;
  }

  .heading__tag {
    margin-bottom: 40px;
    font-size: 16px;
  }

  .heading__title {
    max-width: 650px;
  }

  .heading__img-box {
    left: calc(50% + 384px);
    width: 1144px;
  }

  .article__body {
    padding: 100px 0 96px;
  }
}

@media (min-width: 1920.98px) {
  .no-webp .hero {
    background-image: url("./../img/content/decor/hero_bg-large.png"); }
}

@media (max-width: 1023.98px) {
  .wrapper {
    padding-bottom: var(--height-nav);
  }

  .menu__list._nav-menu {
    position: fixed;
    z-index: 10;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: stretch;
    justify-content: space-around;
    padding: 12px calc((100% - 720px) / 2);
    background-color: var(--color-white);
    border-radius: var(--radius-small) var(--radius-small) 0 0;
  }

  ._nav-menu .menu__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0;
    white-space: normal;
    font-size: 12px;
    color: var(--color-dark) !important;
    background-color: transparent !important;
  }

  ._nav-menu .menu__link::before {
    content: "";
    flex-shrink: 0;
    width: 33px;
    height: 33px;
    margin-bottom: 7px;
    background-color: var(--color-link);
    border-radius: 50%;
  }
}

@media (max-width: 767.98px) {
  .menu__list._nav-menu {
    padding: 12px calc((100% - 540px) / 2);
  }
}

@media (max-width: 575.98px) {
  .menu__list._nav-menu {
    padding: 12px var(--padding-page);
  }
}

@media (any-hover: hover) {
  .btn_main:hover {
    background-color: var(--color-main-dark);
  }

  .btn_accent:hover {
    background-color: #5276e7;
  }

  .btn_secondary-1:hover {
    background-color: #0ac3df;
  }

  .btn_secondary-2:hover {
    background-color: #d95dd7;
  }

  .menu__link:not(.menu__link_btn):hover {
    background-color: #ff83a2;
  }

  .menu__link_btn:hover {
    background-color: #5276e7;
  }

  .footer-menu__link:not(:active):hover {
    color: var(--color-main);
  }

  .footer-info__link:not(:active):hover {
    color: var(--color-main-dark);
  }

  .popup__close:not(:active):hover::before,
  .popup__close:not(:active):hover::after {
    background-color: var(--color-dark);
  }

  .cookie__text a:not(:active):hover {
    color: var(--color-main);
  }

  .hero__item:not(:active):hover .hero__preview {
    transform: translate(-50%, -50%) scale(0.9);
  }

  .hero__item:not(:active):hover .hero__preview-box {
    color: var(--color-hover) !important;
  }

  .hero__item:not(:active):hover .hero__preview-box svg {
    transform: translate(-50%, -50%) rotate(16deg);
  }

  .hero__item:not(:active):hover .hero__category {
    transform: translateY(-50%);
  }

  .facts-slider__button:not(:active):hover {
    background-color: var(--color-accent);
  }

  .article-card__link:not(:active):hover ~ .article-card__img-box .article-card__img {
    transform: translate(-50%, -50%) scale(1.05);
  }

  .article-card__link:not(:active):hover ~ .article-card__icon {
    background-color: var(--color-accent);
  }

  .info__title:hover {
    color: var(--color-white);
  }

  .info__title:hover::before {
    background-color: var(--color-main-dark);
  }

  .info__close:not(:active):hover {
    color: var(--color-main-dark);
  }
}

.webp .hero { background: #f4f9ff url(./../img/content/decor/hero_bg.webp) center/cover no-repeat; }

.webp .facts-slider__item::before, .webp .facts-slider__item::after { background-image: url(./../img/content/decor/facts.webp); }

.webp .category::before { background: url(./../img/content/decor/bottom_bg.webp) top center/cover repeat-x; }

@media (min-width: 1365.98px) {

  .webp .video-info__body::after { background: url(./../img/content/art/decor-1.webp) center bottom/cover no-repeat; }
}

@media (min-width: 1920.98px) {

  .webp .hero { background-image: url(./../img/content/decor/hero_bg-large.webp); }
}