* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #fff;
}

.swiper {
  width: 1024px;
  height: 768px;
}

.swiper-slide {
  background-color: #fff;
}

.container {
  margin: 0 auto 20px auto;
  width: 1024px;
  height: 768px;
  position: relative;
  background-size: contain;
}

.container img {
  max-width: 100%;
}

.container .little-header {
  padding: 24px 23px 0 23px;
}

.main {
  padding: 5px 24px;
  padding-top: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.about-image,
.dosage-image {
  display: flex;
}

.main-image {
  display: flex;
}

.main-text {
  color: rgb(41, 54, 107);
  font-family: Montserrat-Medium, sans-serif;
  font-size: 12px;
  line-height: 20px;
  padding: 12px 24px;
  border-radius: 12px;
  background: rgb(244, 245, 247);
  margin-bottom: -14px;
}

.main-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 12px;
}

.item {
  position: relative;
  padding-bottom: 16px;
  height: 260px;
  box-sizing: border-box;
  border-radius: 12px;
  background: rgb(244, 245, 247);
  text-align: center;
}

.item a {
  text-decoration: none;
}

.item.item_2 {
  width: 317px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item.item_2 a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item.item_2 .item-image {
  width: 203px;
}

.item.item_2 .item-image img {
  width: 100%;
}

.item.item_2 .item-title {
  font-size: 12px;
}

.item-title {
  color: rgb(41, 54, 107);
  font-family: Montserrat-Medium, sans-serif;
  font-size: 14px;
  height: 54px;
  padding: 16px 16px;
  text-align: center;
  min-height: 40px;
}

.item-title.item-title_small {
  font-size: 12px;
}

.item-image {
  height: 181px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.barier-bg {
  position: absolute;
  width: 203px;
  height: 154px;
  left: 50%;
  transform: translate(-50%, 0px);
  bottom: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 24px 0px rgba(0, 7, 73, 0.04), 0px 2px 8px 0px rgba(0, 7, 73, 0.08);
}

.argument-img {
  width: 134px;
  height: 100px;
  margin-right: 12px;
}

.img-shadow {
  width: 178px;
  height: 101px;
  border-radius: 8px;
  background: rgb(202, 146, 245);
  opacity: 0.2;
  position: absolute;
  bottom: 77px;
}

.item.vita {
  background-color: rgb(202, 146, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}

.item-image-vita {
  width: 200px;
}

.item-image img,
.item-image-vita img,
.argument-img img {
  width: 100%;
  border-radius: 8px;
}

.title {
  width: 692px;
  margin-left: 30px;
  margin-bottom: 80px;
}

.main-action {
  width: 320px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}

.footer {
  padding: 700px 24px 24px 24px;
  display: flex;
  justify-content: space-between;
}

.footer-1 {
  padding: 24px 24px 24px 24px;
}

.footer-2 {
  padding: 200px 24px 24px 24px;
}

.centre-footer {
  padding: 542px 24px 24px 24px;
}

.footer-action a {
  vertical-align: center;
  margin-left: 12px;
}

.button {
  padding: 10px;
  border-radius: 8px;
  background: rgb(247, 244, 254);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  width: 55px;
  box-sizing: border-box;
}

.button:hover {
  background-color: rgb(202, 146, 245);
}

.button-a:hover svg path,
.button-b:hover svg path,
.active-button:hover svg path,
.close:hover svg path {
  fill: rgb(247, 244, 254);
}

.button:hover svg path,
.button:hover svg path {
  stroke: rgb(247, 244, 254);
}

.active-button:hover {
  background-color: rgb(202, 146, 245);
}

.button-home {
  position: absolute;
  z-index: 2;
  right: 260px;
}

.button-home-2 {
  position: absolute;
  z-index: 2;
  right: 142px;
}

.button-a {
  position: absolute;
  z-index: 2;
  right: 201px;
}

.button-b {
  position: absolute;
  z-index: 2;
  right: 142px;
}

.button-help {
  position: absolute;
  z-index: 2;
  right: 83px;
}

.btn {
  position: absolute;
  z-index: 2;
  right: 24px;
}

.okno-info {
  color: rgb(0, 7, 73);
  font-size: 18px;
  line-height: 24px;
  width: 976px;
  padding: 24px;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

#message,
#message2,
#message3,
#message4,
#message5,
#message6,
#message7 {
  background: rgba(0, 0, 0, 0.55);
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 3;
}

#okno,
#okno2,
#okno3,
#okno4,
#okno5,
#okno6,
#okno7 {
  position: absolute;
  right: 24px;
  bottom: 92px;
}

#okno-centre,
#okno-centre2 {
  position: absolute;
  right: 24px;
  bottom: 246px;
}

#message:target,
#message2:target,
#message3:target,
#message4:target,
#message5:target,
#message6:target,
#message7:target {
  display: block;
}

.close {
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 20px;
  right: 24px;
  height: 48px;
}

.centre-close {
  position: absolute;
  top: 542px;
  right: 24px;
}

.main-image a,
.about-image a,
.dosage-image a {
  text-decoration: none;
  margin-right: 12px;
}

.main-image img,
.about-image img,
.dosage-image img {
  max-width: 100%;
  box-shadow: 0 4px 24px 0 rgba(0, 7, 73, 0.04), 0 2px 8px 0 rgba(0, 7, 73, 0.08);
}

.circle {
  float: left;
  margin: 2px 2px 0 0;
}

/* ------------------ New code ------------------ */

.header img {
  width: 100%;
}

.intro__image {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.intro__image img {
  width: 100%;
}

.intro__slide {
  position: relative;
  overflow: hidden;
}

.intro__slide.intro__slide_height {
  min-height: 768px;
  display: flex;
  flex-direction: column;
}

.intro__slide .main {
  flex: 1 1 auto;
}

.intro__back {
  position: absolute;
  left: 24px;
  z-index: 11;
  top: 24px;
}

.intro__back-2 {
  position: absolute;
  left: 24px;
  top: 24px;
  z-index: 11;
}

.intro__more {
  position: absolute;
  z-index: 11;
  top: 24px;
  right: 24px;
}

.intro__more-2 {
  position: absolute;
  z-index: 11;
  top: 24px;
  right: 24px;
}

.intro__additional {
  position: absolute;
  inset: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 15px;
  pointer-events: none;
}

.intro__additional:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(41, 41, 41, 0.6);
  z-index: -1;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  opacity: 0;
  visibility: hidden;
}

.intro__additional._active {
  pointer-events: auto;
}

.intro__additional._active:after {
  opacity: 1;
  visibility: visible;
}

.intro__additional._active .panel-intro__text {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0px, 0);
}

.intro__panel {
  position: absolute;
  inset: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 15px;
  pointer-events: none;
}

.intro__panel:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(41, 41, 41, 0.6);
  z-index: -1;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  opacity: 0;
}

.intro__panel._active {
  pointer-events: auto;
}

.intro__panel._active:after {
  opacity: 1;
  visibility: visible;
}

.intro__panel._active .panel-intro__main {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0px, 0);
}

.panel-intro__text {
  border-radius: 16px;
  background-color: #fff;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-row-gap: 12px;
  -moz-row-gap: 12px;
  row-gap: 15px;
  font-size: 18px;
  line-height: calc(26 / 18 * 100%);
  margin: 24px;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  -webkit-transform: translate(0, calc(100% + 24px));
  -ms-transform: translate(0, calc(100% + 24px));
  transform: translate(0px, calc(100% + 24px));
}

.panel-intro__main {
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  padding: 11px 35px;
  position: relative;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  -webkit-transform: translate(0, 120%);
  -ms-transform: translate(0, 120%);
  transform: translate(0px, 120%);
}

.panel-intro__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}

.panel-intro__icon {
  pointer-events: auto;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  border-radius: 8px;
  background: #f7f4fe;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
}

.panel-intro__icon svg {
  width: 24px;
  height: auto;
}

.panel-intro__icon path {
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
}

.panel-intro__icon_white {
  background-color: #fff;
}

.panel-intro__icon_pink {
  background: #ca92f5;
}

.panel-intro__icon_pink path {
  fill: #fff;
}

.panel-intro__icon_light-pink {
  background: #f7f4fe;
}

.panel-intro__icon_light-pink.panel-intro__icon_fill path {
  fill: #ca92f5;
}

.panel-intro__icon_light-pink.panel-intro__icon_stroke path {
  stroke: #ca92f5;
}

.panel-intro__icon._hide {
  opacity: 0;
  visibility: hidden;
}

.panel-intro__close {
  pointer-events: auto;
  width: 48px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  border-radius: 8px;
  background: #f7f4fe;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.panel-intro__close svg {
  width: 24px;
  height: auto;
}

.panel-intro__close path {
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  fill: #ca92f5;
}

.panel-intro__close._active {
  opacity: 1;
  visibility: visible;
}

.panel-intro__icon-wrap {
  position: relative;
}

.intro__pdf {
  position: absolute;
  top: 15px;
  left: 80px;
  width: 205px;
  height: 80px;
  z-index: 2;
  display: block;
}

.intro__pdf-2 {
  position: absolute;
  top: 15px;
  left: 80px;
  width: 205px;
  height: 80px;
  z-index: 2;
  display: block;
}

@media (any-hover: hover) {
  .panel-intro__close:hover {
    background-color: #29366b;
  }

  .panel-intro__close:hover path {
    fill: #fff;
  }

  .panel-intro__close_stroke:hover path {
    stroke: #fff;
  }

  .panel-intro__icon:hover {
    background-color: #29366b;
  }

  .panel-intro__icon_fill:hover path {
    fill: #fff;
  }

  .panel-intro__icon_stroke:hover path {
    stroke: #fff;
  }
}
/* ------------------ New code ------------------ */
