.popup__inner {
  overflow: auto;
}

.popup__inner::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.popup__inner::-webkit-scrollbar-track {
  background-color: var(--color-light);
}

.popup__inner::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
}

@-moz-document url-prefix()  {
  .popup__inner {
    scrollbar-color: var(--color-accent) var(--color-light);
    scrollbar-width: thin;
  }
}

.seo {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: Din;
  font-display: swap;
  src: url("../fonts/Din-Black.woff2") format("woff2"), url("../fonts/Din-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Din;
  font-display: swap;
  src: url("../fonts/Din-Medium.woff2") format("woff2"), url("../fonts/Din-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

.text {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

@font-face {
  font-family: Din;
  font-display: swap;
  src: url("../fonts/Din-Bold.woff2") format("woff2"), url("../fonts/Din-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Din, sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e900";
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  border-radius: 0;
}

input:-webkit-autofill {
  -webkit-text-fill-color: transparent;
  -webkit-transition: background-color 600s ease-in-out 0s;
  transition: background-color 600s ease-in-out 0s;
}

button {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

:root {
  --max-height: 100vh;
  --gap: 25px;
  --color-green: #30453a;
  --color-green-dark: #212c26;
  --color-grey: #4f6991;
  --color-accent: #edcc94;
  --color-accent-light: #f6d9a9;
  --color-accent-dark: #b56647;
  --color-light: #c5d8ff;
  --color-white: #ffffff;
  --color-bg: #388b5f;
  --transition-duration: 0.3s;
  --radius-large: 30px;
  --radius-medium: 24px;
  --radius-normal: 20px;
  --text-large: 20px;
  --text-medium: 18px;
  --text-normal: 16px;
  --text-small: 14px;
  --text-smallest: 10px;
}

html.is-lock {
  overflow: clip;
}

body {
  position: relative;
  text-transform: uppercase;
  font-size: var(--text-medium);
  color: var(--color-accent);
  background-color: var(--color-green);
}

.no-webp body::after {
  background-image: url("./../img/content/decor/noise.png"); }

body::after {
  content: "";
  position: fixed;
  z-index: 15;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: repeat;
  background-size: 100px 100px;
  mix-blend-mode: overlay;
  opacity: 0.5;
  pointer-events: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.page {
  flex: 1 1 auto;
}

.page_small {
  display: flex;
  flex-direction: column;
}

.page_small > *:last-child {
  flex-grow: 1;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

.text {
  text-transform: none;
  line-height: 1.5;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  padding: 0 34px;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border-radius: var(--radius-large);
  transition-duration: var(--transition-duration);
  transition-property: color, background-color, border-color;
}

.btn:focus-visible {
  outline: none;
}

.btn_light {
  color: var(--color-accent-dark);
  background-color: var(--color-accent);
}

.header {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
}

.header__body {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 16px;
}

.header__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 0 24px;
  margin-left: auto;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--color-accent);
  background-color: var(--color-green-dark);
  border-radius: var(--radius-large);
  border: none;
  transition-duration: var(--transition-duration);
  transition-property: color, background-color, border-color;
}

.logo {
  flex-shrink: 0;
  display: flex;
  font-size: 48px;
  line-height: 1;
  color: var(--color-accent);
  background-color: transparent;
  border-radius: 50%;
  border: none;
}

.logo_dark {
  color: var(--color-accent);
}

.menu {
  padding: 0 50px;
}

.menu__list {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 1;
}

.menu__item {
  overflow: hidden;
}

.menu__item + .menu__item {
  margin-left: 50px;
}

.menu__link {
  display: flex;
  white-space: nowrap;
  color: var(--color-accent-dark);
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.menu__link:focus-visible {
  outline: none;
  color: var(--color-dark);
}

.welcome__body {
  padding-top: 72px;
}

.welcome__title {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 280px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--color-accent-dark);
}

.welcome__title span {
  position: relative;
}

.welcome__footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome__text {
  font-size: var(--text-normal);
}

.about {
  --width-bg: 526px;
  position: relative;
  overflow: hidden;
}

.about::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: -66px;
  width: var(--width-bg);
  aspect-ratio: 1240/400;
  background: url("./../img/content/decor/about-mask.svg") center/contain no-repeat;
}

.about__bg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 60px;
  width: var(--width-bg);
  aspect-ratio: 526/597;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("./../img/content/decor/bg-2.svg");
}

.about__bg::before,
.about__bg::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.no-webp .about__bg::before {
  background-image: url("./../img/content/decor/about-6.png"); }

.about__bg::before {
  top: 0;
  right: 90px;
  width: 80px;
  aspect-ratio: 316/462;
}

.about__body {
  position: relative;
  padding-top: 40px;
  padding-bottom: 90px;
}

.about__title {
  max-width: 350px;
  min-height: 120px;
  margin-bottom: 234px;
  font-weight: 900;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--color-accent-dark);
}

.about__list {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 126px;
  justify-content: space-between;
  font-weight: 900;
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.about__item {
  position: relative;
}

.about__item::before,
.about__item::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.no-webp .about__item:nth-child(1)::before {
  background-image: url("./../img/content/decor/about-1.png"); }

.about__item:nth-child(1)::before {
  bottom: 108px;
  left: -64px;
  width: 260px;
  transform: rotate(50deg);
  aspect-ratio: 906/792;
}

.no-webp .about__item:nth-child(2)::before {
  background-image: url("./../img/content/decor/about-2.png"); }

.about__item:nth-child(2)::before {
  right: -100px;
  bottom: 10px;
  width: 260px;
  aspect-ratio: 994/1166;
}

.no-webp .about__item:nth-child(3)::before {
  background-image: url("./../img/content/decor/about-3.png"); }

.about__item:nth-child(3)::before {
  top: -76px;
  left: -76px;
  width: 209px;
  transform: rotate(10deg);
  aspect-ratio: 771/551;
}

.no-webp .about__item:nth-child(3)::after {
  background-image: url("./../img/content/decor/about-5.png"); }

.about__item:nth-child(3)::after {
  top: -178px;
  left: -8px;
  width: 70px;
  aspect-ratio: 175/249;
}

.no-webp .about__item:nth-child(4)::before {
  background-image: url("./../img/content/decor/about-4.png"); }

.about__item:nth-child(4)::before {
  right: -140px;
  bottom: -130px;
  width: 300px;
  aspect-ratio: 710/736;
}

.about__text {
  position: relative;
}

.popup {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  transition-duration: var(--transition-duration);
  transition-property: opacity;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup.is-open {
  opacity: 1;
  display: flex;
}

.popup__body {
  position: relative;
  display: flex;
  max-height: 96%;
  background-color: var(--color-white);
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 18px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-accent);
  transition-duration: var(--transition-duration);
  transition-property: background-color;
}

.popup__close::before {
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
}

.popup__close::after {
  transform: translateY(50%) rotate(45deg);
  bottom: 50%;
}

.popup__close:focus-visible {
  outline: none;
}

.popup__close:focus-visible::before,
.popup__close:focus-visible::after {
  background-color: var(--color-dark);
}

.popup__close:active::before,
.popup__close:active::after {
  background-color: var(--color-dark);
}

.popup__inner {
  flex-shrink: 0;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
}

.track {
  position: relative;
}

.track__img-box {
  z-index: 1;
  pointer-events: none;
}

.track__img-box_1 {
  position: sticky;
  top: 222px;
  left: calc(50% - 72px);
  transform: translateX(-50%);
  width: 280px;
}

.track__img-box_1 img {
  transform: rotate(-6deg);
  aspect-ratio: 28/74;
}

.track__img-box_2 {
  position: absolute;
  top: 198px;
  left: calc(50% + 226px);
  transform: translateX(-50%);
  width: 240px;
}

.track__img-box_2 img {
  transform: rotate(6deg);
  aspect-ratio: 24/64;
}

.track__img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform-origin: top center;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 479.98px) {
  .about__item:nth-child(1)::before {
    bottom: 90px;
    left: 0px;
  }

  .about__item:nth-child(2)::before {
    right: -20px;
    bottom: 22px;
  }

  .about__item:nth-child(3)::before {
    left: 10px;
  }

  .about__item:nth-child(3)::after {
    top: -162px;
    left: 30px;
  }

  .about__item:nth-child(4)::before {
    right: -80px;
    bottom: -100px;
  }
}

@media (min-width: 575.98px) {
  .welcome__title {
    margin-bottom: 32px;
  }

  .about {
    --width-bg: 600px;
  }

  .about__bg::before {
    right: 140px;
  }

  .about__body {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}

@media (min-width: 767.98px) {
  .welcome__title {
    font-size: 380px;
  }

  .about {
    --width-bg: 700px;
  }

  .about::after {
    bottom: -81px;
  }

  .about__bg {
    bottom: 80px;
    aspect-ratio: 1240/1066;
    background-image: url("./../img/content/decor/bg-1.svg");
  }

  .about__body {
    padding-bottom: 150px;
  }

  .about__list {
    grid-template-columns: 200px 200px;
    -moz-column-gap: 0px;
         column-gap: 0px;
    align-items: center;
  }

  .about__item:nth-child(odd) {
    text-align: end;
  }

  .about__item:nth-child(1)::before {
    bottom: 20px;
    left: 80px;
    width: 290px;
  }

  .about__item:nth-child(2)::before {
    right: 40px;
    bottom: -60px;
    width: 310px;
  }

  .about__item:nth-child(3) br {
    display: none;
  }

  .about__item:nth-child(3)::before {
    top: -55px;
    left: 70px;
  }

  .about__item:nth-child(3)::after {
    top: -146px;
    left: 90px;
  }

  .about__item:nth-child(4) br {
    display: none;
  }

  .about__item:nth-child(4)::before {
    right: 50px;
    bottom: -150px;
  }
}

@media (min-width: 1023.98px) {
  .btn {
    height: 60px;
    padding: 0 46px;
    font-size: 20px;
  }

  .header__body {
    padding-top: 30px;
  }

  .header__btn {
    height: 58px;
    font-size: 20px;
  }

  .logo {
    font-size: 70px;
  }

  .welcome__body {
    padding-top: 230px;
    padding-bottom: 80px;
  }

  .welcome__title {
    margin-bottom: 5px;
    font-size: 264px;
  }

  .welcome__title::before,
  .welcome__title::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto 100%;
  }

  .welcome__title::before {
    top: 38%;
    height: 96.222%;
    background-image: url("./../img/content/decor/welcome-1.svg");
  }

  .welcome__title::after {
    top: 74%;
    height: 80.666%;
    background-image: url("./../img/content/decor/welcome-2.svg");
  }

  .welcome__target {
    position: absolute !important;
    right: 10.5%;
    top: -55px;
    height: 62px;
    aspect-ratio: 365/114;
    background: url("./../img/content/decor/target.svg") center/contain no-repeat;
  }

  .welcome__text {
    padding-right: 15px;
    font-size: var(--text-medium);
  }

  .about {
    --width-bg: 920px;
  }

  .about::after {
    bottom: -132px;
  }

  .about__bg::before {
    right: 210px;
    width: 100px;
  }

  .no-webp .about__bg::after {
    background-image: url("./../img/content/decor/about-7.png"); }

  .about__bg::after {
    left: 48%;
    transform: translateX(-50%);
    bottom: -60px;
    width: 380px;
    aspect-ratio: 1240/602;
  }

  .about__body {
    padding-bottom: 190px;
  }

  .about__title {
    max-width: 600px;
    min-height: 210px;
    font-size: 70px;
  }

  .about__list {
    grid-template-columns: 290px 290px;
    row-gap: 174px;
    min-height: 328px;
    font-size: 32px;
  }

  .about__item:nth-child(1)::before {
    bottom: -40px;
    left: 140px;
    width: 370px;
  }

  .about__item:nth-child(2)::before {
    right: 90px;
    bottom: -100px;
    width: 400px;
  }

  .about__item:nth-child(3)::before {
    left: 120px;
    width: 300px;
    transform: none;
  }

  .about__item:nth-child(3)::after {
    top: -134px;
    left: 150px;
  }

  .about__item:nth-child(4)::before {
    right: 190px;
    bottom: -100px;
  }
}

@media (min-width: 1470px) {
  .welcome__body {
    padding-top: 280px;
    padding-bottom: 110px;
  }

  .welcome__title {
    margin-bottom: 16px;
    font-size: 364px;
  }

  .welcome__target {
    top: -76px;
    height: 90px;
  }

  .about {
    --width-bg: 1240px;
  }

  .about::after {
    bottom: -185px;
  }

  .about__bg {
    bottom: 100px;
  }

  .about__bg::before {
    right: 280px;
    width: 158px;
  }

  .about__bg::after {
    bottom: -100px;
    width: 620px;
  }

  .about__body {
    padding-top: 104px;
    padding-bottom: 278px;
  }

  .about__title {
    max-width: 800px;
    min-height: 288px;
    font-size: 96px;
  }

  .about__list {
    grid-template-columns: 360px 360px;
    min-height: 366px;
    padding: 0 16px 0 44px;
    font-size: 40px;
  }

  .about__item:nth-child(1)::before {
    bottom: 36px;
    left: 173px;
    transform: none;
    width: 493px;
  }

  .about__item:nth-child(2)::before {
    right: 110px;
    bottom: -140px;
    width: 497px;
  }

  .about__item:nth-child(3)::before {
    top: -84px;
    left: 140px;
    width: 386px;
  }

  .about__item:nth-child(3)::after {
    top: -184px;
    left: 182px;
    width: 88px;
  }

  .about__item:nth-child(4)::before {
    right: 266px;
    bottom: -160px;
    width: 355px;
  }
}

@media (min-width: 1870.98px) {
  .container_large {
    max-width: 1860px;
  }

  .btn {
    height: 70px;
    padding: 0 56px;
    font-size: 24px;
  }

  .header__body {
    padding-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .header__btn {
    height: 70px;
    font-size: 24px;
  }

  .logo {
    font-size: 90px;
  }

  .menu {
    padding: 0 82px;
  }

  .menu__list {
    font-size: 24px;
  }

  .menu__item + .menu__item {
    margin-left: 82px;
  }

  .welcome__body {
    padding-top: 328px;
    padding-bottom: 130px;
  }

  .welcome__title {
    margin-bottom: 34px;
    font-size: 450px;
  }

  .welcome__target {
    top: -100px;
    height: 114px;
  }

  .welcome__footer {
    padding: 0 195px;
  }

  .welcome__text {
    font-size: var(--text-large);
  }
}

@media (max-width: 1870.98px) {
  .welcome__title {
    margin-left: -15px;
  }

  .track__img-box_1 {
    top: 200px;
    width: 220px;
    left: calc(50% - 62px);
  }

  .track__img-box_2 {
    top: 170px;
    left: calc(50% + 176px);
    width: 200px;
  }
}

@media (max-width: 1470px) {
  .container {
    max-width: 1024px;
  }

  .track__img-box_1 {
    top: 170px;
    width: 150px;
    left: calc(50% - 48px);
  }

  .track__img-box_2 {
    top: 144px;
    left: calc(50% + 114px);
    width: 140px;
  }
}

@media (max-width: 1023.98px) {
  .container {
    max-width: 742px;
  }

  .menu {
    display: none;
  }

  .welcome__title {
    flex-direction: column;
    text-align: center;
  }

  .welcome__title span + span {
    margin-top: 105px;
  }

  .welcome__target {
    display: none;
  }

  .track__img-box_1 {
    top: 300px;
  }

  .track__img-box_2 {
    top: 260px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 552px;
  }

  .about__list {
    color: var(--color-accent-dark);
  }

  .about__item:nth-child(even) {
    text-align: end;
  }

  .about__item:nth-child(2) {
    padding-top: 52px;
  }

  .track__img-box_1 {
    top: 220px;
  }

  .track__img-box_2 {
    top: 180px;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }

  .welcome__title {
    margin-right: -10px;
  }

  .welcome__footer {
    flex-direction: column-reverse;
    align-items: stretch;
    text-align: center;
  }

  .welcome__text {
    margin-bottom: 40px;
  }

  .track__img-box_1 {
    top: 200px;
    left: 39%;
    width: 28%;
  }

  .track__img-box_2 {
    top: 166px;
    left: 70%;
    width: 26%;
  }
}

@media (max-width: 479.98px) {
  .track__img-box_1 {
    top: 170px;
    width: 30%;
  }

  .track__img-box_2 {
    top: 144px;
    width: 28%;
  }
}

@media (max-width: 359.98px) {
  .welcome__title {
    font-size: 11.25rem;
  }
}

@media (min-width: 359.98px) and (max-width: 575.98px) {
@supports (font-size: clamp( 11.25rem , -0.2076967593rem  +  50.9259259259vw , 18.125rem )) {
    .welcome__title {
      font-size: clamp( 11.25rem , -0.2076967593rem  +  50.9259259259vw , 18.125rem );
    }
}

@supports not (font-size: clamp( 11.25rem , -0.2076967593rem  +  50.9259259259vw , 18.125rem )) {
    .welcome__title {
      font-size: calc(11.25rem + 6.875 * (100vw - 22.49875rem) / 13.5);
    }
}
}

@media (max-width: 1023.98px) and (min-width: 767.98px) {
  .track__img-box_1 {
    width: 170px;
  }

  .track__img-box_2 {
    width: 155px;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--color-dark);
  }

  .popup__close:not(:active):hover::before,
  .popup__close:not(:active):hover::after {
    background-color: var(--color-dark);
  }
}

.webp body::after { background-image: url(./../img/content/decor/noise.webp); }

.webp .about__bg::before { background-image: url(./../img/content/decor/about-6.webp); }

.webp .about__item:nth-child(1)::before { background-image: url(./../img/content/decor/about-1.webp); }

.webp .about__item:nth-child(2)::before { background-image: url(./../img/content/decor/about-2.webp); }

.webp .about__item:nth-child(3)::before { background-image: url(./../img/content/decor/about-3.webp); }

.webp .about__item:nth-child(3)::after { background-image: url(./../img/content/decor/about-5.webp); }

.webp .about__item:nth-child(4)::before { background-image: url(./../img/content/decor/about-4.webp); }

@media (min-width: 1023.98px) {

  .webp .about__bg::after { background-image: url(./../img/content/decor/about-7.webp); }
}