@charset "UTF-8";
.menu__dropdown,
.popup__inner {
  transform: translate3d(0, 0, 0);
  overflow: hidden auto;
  overflow: clip auto;
}
@-moz-document url-prefix() {
  .menu__dropdown,
  .popup__inner {
    scrollbar-color: var(--color-primary) var(--color-shadow);
    scrollbar-width: thin;
  }
}
._seo {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.breadcrumbs__link,
.btn,
.category-slider__img_hover,
.category-slider__link,
.faq-items__btn,
.faq-items__icon,
.header__link,
.menu__btn,
.menu__link,
.pagination__item a,
.pagination__item span,
.pagination__item_next a::after,
.pagination__item_next span::after,
.pagination__item_prev a::after,
.pagination__item_prev span::after,
.popup,
.popup__close::after,
.popup__close::before {
  transition-duration: var(--transition-duration);
  transition-property: color,background-color,border-color,opacity,transform;
}
.btn__icon,
.faq-items__icon,
.header__link svg,
.menu__btn,
.menu__btn svg,
.welcome-video__btn {
  aspect-ratio: 1/1;
  height: auto;
}
@font-face {
  font-family: EtudeNoire;
  font-display: swap;
  src: url(../fonts/EtudeNoire-Bold.woff2) format("woff2"),url(../fonts/EtudeNoire-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: EtudeNoire;
  font-display: swap;
  src: url(../fonts/EtudeNoire-Medium.woff2) format("woff2"),url(../fonts/EtudeNoire-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
.btn,
body,
html {
  font-family: EtudeNoire,sans-serif;
  font-weight: 500;
}
@font-face {
  font-family: EtudeNoire;
  font-display: swap;
  src: url(../fonts/EtudeNoire-Regular.woff2) format("woff2"),url(../fonts/EtudeNoire-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2"),url(../fonts/Montserrat-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2"),url(../fonts/Montserrat-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Bold.woff2) format("woff2"),url(../fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace,monospace;
  font-size: 1em;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: ButtonText dotted 1px;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: -0.05em;
}
summary,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
video {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  -o-object-position: center;
  object-position: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
button,
input,
select,
textarea {
  font: inherit;
}
input,
textarea {
  border-radius: 0;
}
textarea {
  resize: vertical;
}
input:-webkit-autofill {
  -webkit-text-fill-color: transparent;
  -webkit-transition: background-color 600s ease-in-out;
  transition: background-color 600s ease-in-out;
}
button,
summary {
  cursor: pointer;
}
[href^="tel:"] {
  white-space: nowrap;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}
body,
html {
  height: 100%;
}
:root {
  --width-page: 100vw;
  --width-line: 4px;
  --width-line-gap: 14px;
  --width-container: calc(100% - 2 * (var(--padding-page) + var(--width-line)));
  --height-page: 100vh;
  --height-logo-small: 27px;
  --color-main: #333333;
  --color-primary: #c60e14;
  --color-primary-dark: #981915;
  --color-accent: #0099a5;
  --color-accent-dark: #178a93;
  --color-shadow: #f1efe9;
  --color-shadow-dark: #e8e3d7;
  --color-shadow-dark: #e0ddd6;
  --color-shadow-darkest: #d4cdbb;
  --color-neutral: #ffffff;
  --transition-duration: 0.3s;
}
body,
html {
  font-size: var(--text-medium);
  line-height: 1.5;
  color: var(--color-main);
  background-color: var(--color-shadow);
}
html {
  scroll-behavior: smooth;
}
html._is-lock {
  overflow: hidden;
  overflow: clip;
}
body {
  scroll-padding-top: var(--padding-page);
}
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}
.page {
  flex: 1 1 auto;
}
.page_small {
  display: flex;
  flex-direction: column;
}
.page_small > *:last-child {
  flex-grow: 1;
}
.page > *:last-child {
  border-bottom: none;
}
.container {
  max-width: var(--width-container);
  margin: 0 auto;
}
.no-webp .noise {
  background-image: url(../img/content/noise.png);
}
.noise {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-repeat: repeat;
  background-position: top center;
  background-size: 480px 480px;
  opacity: 0.3;
  mix-blend-mode: screen;
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper-vertical {
  touch-action: pan-x;
}
._h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--title-1);
  line-height: 1;
}
._h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--title-2);
  line-height: 1;
}
._h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--title-3);
  line-height: 1;
}
._h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--title-4);
  line-height: 1;
}
.btn {
  --height-btn: var(--height-btn-normal);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-normal);
  min-height: var(--height-btn);
  text-transform: uppercase;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  line-height: 1;
  color: var(--color-main);
  background-color: transparent;
  border: none;
}
.btn:focus-visible {
  outline: 0;
}
.btn_normal {
  --height-btn: var(--height-btn-normal);
  --height-btn-icon: var(--height-btn-normal-icon);
}
.btn_accent {
  color: var(--color-shadow);
  background-color: var(--color-accent);
}
.btn_accent:focus-visible {
  background-color: var(--color-accent-dark);
}
.btn_primary {
  color: var(--color-neutral);
  background-color: var(--color-primary);
}
.btn_primary:focus-visible {
  background-color: var(--color-primary-dark);
}
.btn__icon {
  position: relative;
  flex-shrink: 0;
  width: var(--height-btn-icon);
}
.btn__icon::after,
.btn__icon::before {
  content: "";
  position: absolute;
  top: 8.7%;
  bottom: 8.7%;
  width: calc(0.65 * var(--width-line));
  background-color: currentColor;
}
.btn__icon::before {
  right: 50%;
  transform-origin: right bottom;
  transform: skewX(204deg);
}
.btn__icon::after {
  left: 50%;
  transform-origin: left bottom;
  transform: skewX(-204deg);
}
.page-lines {
  pointer-events: none;
}
.page-lines__side {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  display: flex;
  background-color: var(--color-shadow);
}
.page-lines__side_left {
  left: 0;
  border-right: var(--width-line) solid var(--color-primary);
}
.page-lines__side_right {
  right: 0;
  border-left: var(--width-line) solid var(--color-primary);
}
.page-lines__top {
  position: absolute;
  z-index: 11;
  top: 0;
  width: calc(20 * var(--width-line-gap));
  height: calc(var(--height-header) + var(--gap-normal) + 3 * var(--width-line) + 5 * var(--width-line-gap));
  background-color: var(--color-shadow);
  overflow: hidden;
}
.page-lines__top span,
.page-lines__top::after,
.page-lines__top::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-style: solid;
  border-color: var(--color-primary);
}
.page-lines__top span {
  width: calc(100% - var(--width-line-gap));
  height: calc(5 * var(--width-line-gap) + 3 * var(--width-line));
}
.page-lines__top::before {
  width: calc(100% - 4 * var(--width-line-gap));
  height: calc(4 * var(--width-line-gap) + 2 * var(--width-line));
}
.page-lines__top::after {
  width: calc(100% - 8 * var(--width-line-gap));
  height: calc(3 * var(--width-line-gap) + var(--width-line));
}
.page-lines__top_left {
  left: 0;
}
.page-lines__top_left span,
.page-lines__top_left::after,
.page-lines__top_left::before {
  border-width: var(--width-line) 0 0 var(--width-line);
}
.page-lines__top_left span {
  left: var(--width-line-gap);
  border-radius: calc(4 * var(--width-line-gap)) 0 0 0;
}
.page-lines__top_left::before {
  left: calc(2 * var(--width-line-gap) + var(--width-line));
  border-radius: calc(3 * var(--width-line-gap)) 0 0 0;
}
.page-lines__top_left::after {
  left: calc(3 * var(--width-line-gap) + 2 * var(--width-line));
  border-radius: calc(2 * var(--width-line-gap)) 0 0 0;
}
.page-lines__top_right {
  right: 0;
}
.page-lines__top_right span,
.page-lines__top_right::after,
.page-lines__top_right::before {
  border-width: var(--width-line) var(--width-line) 0 0;
}
.page-lines__top_right span {
  right: var(--width-line-gap);
  border-radius: 0 calc(4 * var(--width-line-gap)) 0 0;
}
.page-lines__top_right::before {
  right: calc(2 * var(--width-line-gap) + var(--width-line));
  border-radius: 0 calc(3 * var(--width-line-gap)) 0 0;
}
.page-lines__top_right::after {
  right: calc(3 * var(--width-line-gap) + 2 * var(--width-line));
  border-radius: 0 calc(2 * var(--width-line-gap)) 0 0;
}
.header {
  --color-header: var(--color-primary);
  --color-header-hover: var(--color-primary-dark);
  position: absolute;
  z-index: 15;
  top: 0;
  right: 0;
  left: 0;
  border-top: var(--width-line) solid var(--color-primary);
}
._is-menu-open .header,
.header_scroll {
  --color-header: var(--color-neutral);
  --color-header-hover: var(--color-shadow-darkest);
}
._is-scroll-up .header_scroll {
  position: fixed;
}
.header__body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._is-scroll-up .header_scroll .header__body {
  background-color: var(--color-primary);
}
.header__link {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--height-header-btn);
  height: var(--height-header-btn);
  color: var(--color-header);
}
.header__link:focus-visible {
  outline: 0;
  color: var(--color-header-hover);
}
.header__link svg {
  width: 56.52%;
}
.header__link svg path,
.header__link svg rect {
  fill: currentColor;
}
.logo {
  flex-shrink: 0;
}
.logo_header {
  position: absolute;
  z-index: 1;
  left: 50%;
}
.logo_h-fix {
  top: 36.36%;
  transform: translateX(-50%);
}
._is-menu-open .logo_h-fix,
._is-scroll-up .header_scroll .logo_h-fix {
  display: none;
}
.logo_h-fix .logo__img {
  aspect-ratio: 164/252;
  height: var(--height-logo-large);
}
.logo_h-scroll {
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
}
._is-menu-open .logo_h-scroll,
._is-scroll-up .header_scroll .logo_h-scroll {
  display: block;
}
.logo_h-scroll .logo__img {
  aspect-ratio: 154/27;
  height: var(--height-logo-small);
}
.logo__img {
  width: auto;
  -o-object-fit: contain;
  object-fit: contain;
}
.menu__btn {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--height-header-btn);
  color: var(--color-header);
  background-color: transparent;
  border: none;
  outline: 0;
}
.menu__btn:focus-visible {
  outline: 0;
  color: var(--color-header-hover);
}
.menu__btn svg {
  width: 56.52%;
}
.menu__btn svg path,
.menu__btn svg rect {
  fill: currentColor;
}
._is-menu-open .menu__btn svg:first-of-type,
.menu__btn svg:last-of-type {
  display: none;
}
._is-menu-open .menu__btn svg:last-of-type {
  display: block;
}
.menu__list,
.menu__main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-normal);
}
.menu__item:nth-child(n+5) {
  display: none;
}
.menu__link {
  display: block;
  text-align: center;
  line-height: 1;
  color: var(--color-header);
}
.menu__link:focus-visible {
  outline: 0;
  color: var(--color-header-hover);
}
.footer {
  background-color: var(--color-primary);
  padding-bottom: 222px;
}
.footer::before {
  content: "";
  display: block;
  margin-bottom: calc(-1 * var(--width-line));
  background-color: var(--color-shadow);
  background-image: linear-gradient(180deg, rgba(198, 14, 20, 0.5) 9%, var(--color-shadow) 9% 18%, rgba(198, 14, 20, 0.6) 18% 30%, var(--color-shadow) 30% 40%, rgba(198, 14, 20, 0.7) 40% 57%, var(--color-shadow) 57% 68%, rgba(198, 14, 20, 0.8) 68% 89%, var(--color-shadow) 89%);
}
.video {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  font-size: 0;
  background-color: #000;
}
.video img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.video__link,
.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 16%;
  height: auto;
  aspect-ratio: 1/1;
  background: url(../img/icons/play.svg) center/contain no-repeat;
  border: none;
}
.video_init .video__button {
  display: block;
}
.breadcrumbs {
  display: flex;
  max-width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
}
.breadcrumbs__item {
  display: flex;
  white-space: nowrap;
}
.breadcrumbs__item:not(:last-child) {
  color: var(--color-accent);
}
.breadcrumbs__item:not(:last-child)::after {
  content: "•";
  margin: 0 4px;
  color: var(--color-shadow);
}
.breadcrumbs__item:not(:last-child) .breadcrumbs__link:focus-visible {
  outline: 0;
}
.breadcrumbs__item:not(:last-child) .breadcrumbs__link:active {
  color: var(--color-main-light);
}
.breadcrumbs__item:last-child {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.breadcrumbs__link {
  color: inherit;
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination__list {
  display: flex;
}
.pagination__item {
  position: relative;
  flex-shrink: 0;
  display: flex;
}
.pagination__item a,
.pagination__item span {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 12px;
  color: var(--color-main);
  background-color: var(--color-accent);
}
.pagination__item + .pagination__item {
  margin-left: 6px;
}
.pagination__item_active a,
.pagination__item_active span {
  color: var(--color-neutral);
  background-color: var(--color-main);
}
.pagination__item_next a::after,
.pagination__item_next span::after,
.pagination__item_prev a::after,
.pagination__item_prev span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: var(--color-main);
  border-radius: 1px;
}
.pagination__item_prev a::after,
.pagination__item_prev span::after {
  transform: translate(-25%, -50%) rotate(45deg);
  border-width: 0 0 2px 2px;
}
.pagination__item_next a::after,
.pagination__item_next span::after {
  transform: translate(-75%, -50%) rotate(-45deg);
  border-width: 0 2px 2px 0;
}
.pagination__item_disabled a::after,
.pagination__item_disabled span::after {
  border-color: var(--color-shadow);
}
.pagination__item:not(.pagination__item_active):not(.pagination__item_disabled) a:focus-visible {
  outline: 0;
  color: var(--color-neutral);
  background-color: var(--color-accent);
}
.pagination__item:not(.pagination__item_active):not(.pagination__item_disabled) a:focus-visible::after {
  border-color: var(--color-neutral);
}
.pagination__item:not(.pagination__item_active):not(.pagination__item_disabled) a:active {
  color: var(--color-neutral);
  background-color: var(--color-main);
}
.pagination__item:not(.pagination__item_active):not(.pagination__item_disabled) a:active::after {
  border-color: var(--color-neutral);
}
.popup {
  position: fixed;
  z-index: -5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.popup._is-open {
  z-index: 20;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.popup__body {
  position: relative;
  display: flex;
  max-width: var(--width-page);
  max-height: calc(0.95 * var(--height-page));
  background-color: var(--color-neutral);
}
.popup__close {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 18px;
  width: 30px;
  height: 30px;
  color: var(--color-main);
  background-color: transparent;
  border: none;
}
.popup__close::after,
.popup__close::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-accent);
}
.popup__close::before {
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
}
.popup__close::after {
  transform: translateY(50%) rotate(45deg);
  bottom: 50%;
}
.popup__close:focus-visible {
  outline: 0;
}
.popup__close:focus-visible::after,
.popup__close:focus-visible::before {
  background-color: var(--color-main);
}
.popup__close:active::after,
.popup__close:active::before {
  background-color: var(--color-main);
}
.popup__inner {
  flex-shrink: 0;
  flex-grow: 1;
  transform: translate3d(0, 0, 0);
  max-width: 100%;
  max-height: 100%;
}
.cookies {
  display: none;
}
.welcome {
  overflow: hidden;
}
.welcome__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  color: var(--color-primary);
  overflow: hidden;
}
.welcome__promo {
  position: relative;
  margin-right: calc(-1 * var(--padding-page));
  margin-left: calc(-1 * var(--padding-page));
  border-top: var(--width-line) solid var(--color-primary);
  border-bottom: var(--width-line) solid var(--color-primary);
}
.welcome__promo-label {
  position: absolute;
  z-index: 1;
  left: calc(1.5 * var(--gap-normal));
  bottom: calc(1.75 * var(--gap-normal));
  max-width: 70%;
  font-weight: 500;
  line-height: 1;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
  color: var(--color-neutral);
  pointer-events: none;
}
.welcome__promo-label::before {
  content: "/";
}
._is-video-active .welcome__promo-label {
  display: none;
}
.welcome-video {
  position: relative;
  width: 100%;
  background-color: #000;
}
.welcome-video__link,
.welcome-video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.welcome-video__media {
  -o-object-fit: cover;
  object-fit: cover;
}
.welcome-video__btn {
  position: absolute;
  right: calc(1.5 * var(--gap-normal));
  bottom: calc(1.5 * var(--gap-normal));
  display: none;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  background-color: var(--color-neutral);
  border: none;
}
.welcome-video__btn svg {
  aspect-ratio: 17/16;
  width: 47%;
  height: auto;
}
.welcome-video__btn svg path,
.welcome-video__btn svg rect {
  fill: currentColor;
}
._is-init .welcome-video__btn {
  display: flex;
}
.promo-slider {
  width: 100%;
}
.promo-slider__items {
  position: relative;
  display: flex;
  width: 100%;
  transition-timing-function: linear;
  will-change: transform;
}
.promo-slider__item {
  flex-shrink: 0;
  margin-right: var(--gap-normal);
}
._is-init .promo-slider__item {
  margin-right: 0;
}
.promo-slider__item_promo {
  display: none;
}
.promo-card {
  display: flex;
  flex-direction: column;
}
.promo-card__img,
.promo-card__video {
  aspect-ratio: 221/251;
  -o-object-fit: cover;
  object-fit: cover;
}
.promo-card__content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.promo-card__info,
.promo-card__title {
  font-weight: 500;
  line-height: 1;
  color: var(--color-primary);
}
.promo-card__info::before,
.promo-card__title::before {
  content: "/";
}
.promo-card__info {
  white-space: nowrap;
}
.partners {
  border-bottom: var(--width-line) solid var(--color-primary);
}
.partners__body {
  position: relative;
}
.partners__title {
  text-align: center;
  color: var(--color-shadow-darkest);
}
.partners__main {
  display: flex;
  flex-direction: column;
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-normal);
}
.partners__list._is-list-lock {
  justify-content: center;
}
.partners__item {
  flex-shrink: 0;
  width: calc((100% - var(--gap-normal)) / 2);
}
.partners__link {
  display: block;
  min-height: 100%;
  font-size: 0;
  background-color: var(--color-neutral);
}
.partners__img {
  aspect-ratio: 314/133;
  -o-object-fit: contain;
  object-fit: contain;
}
.partners__btn {
  margin: 0 calc(-1 * var(--padding-page));
}
.partners__btn::before {
  content: attr(data-show-text);
  margin-bottom: -0.2em;
}
.partners__btn_active::before {
  content: attr(data-hide-text);
}
.partners__btn_active .btn__icon::before {
  transform-origin: right top;
  transform: skewX(-204deg);
}
.partners__btn_active .btn__icon::after {
  transform-origin: left top;
  transform: skewX(204deg);
}
._is-list-lock .partners__btn {
  display: none;
}
.join {
  border-bottom: var(--width-line) solid var(--color-primary);
}
.join__head {
  position: relative;
}
.join__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-shadow-darkest);
}
.join__title span + span {
  margin-top: -0.164em;
}
.join__label {
  position: absolute;
}
.category-slider {
  position: relative;
  margin: 0 calc(-1 * (var(--padding-page) + var(--width-line)));
}
.category-slider__items {
  position: relative;
  display: flex;
  width: 100%;
  transition-timing-function: linear;
  will-change: transform;
}
.category-slider__item {
  position: relative;
  flex-shrink: 0;
  background-color: var(--color-shadow);
  border-width: var(--width-line) 0 var(--width-line) var(--width-line);
  border-style: solid;
  border-color: var(--color-primary);
}
.category-slider__item:last-child {
  border-right-width: var(--width-line);
}
.category-slider__label {
  position: absolute;
  left: 0;
  bottom: 100%;
}
.category-slider__media {
  position: relative;
}
.category-slider__img {
  aspect-ratio: 362/548;
  -o-object-fit: cover;
  object-fit: cover;
}
.category-slider__img_hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.category-slider__link::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.category-slider__link:focus-visible {
  outline: 0;
}
.category-slider__link:focus-visible ~ * .category-slider__img_hover {
  opacity: 1;
}
.faq {
  border-bottom: var(--width-line) solid var(--color-primary);
}
.faq__head {
  display: flex;
  justify-content: center;
}
.faq__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-primary);
}
.faq__title span:nth-child(2) {
  transform: rotate(-3deg);
  align-self: flex-end;
  margin: -1.2em -0.35em 0 0;
  font-weight: 500;
  color: var(--color-neutral);
  background-color: var(--color-accent);
}
.faq-items,
.faq__main {
  display: grid;
  gap: var(--gap-small);
}
.faq-items__item {
  background-color: var(--color-neutral);
}
.faq-items__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.1;
  color: var(--color-main);
}
.faq-items__btn:focus-visible {
  outline: 0;
  background-color: var(--color-shadow-darkest);
}
.faq-items__btn:focus-visible .faq-items__icon {
  background-color: var(--color-primary-dark);
}
.faq-items__btn._spoller-active:focus-visible .faq-items__icon {
  background-color: var(--color-accent-dark);
}
.faq-items__icon {
  position: relative;
  flex-shrink: 0;
  margin-left: var(--gap-normal);
  background-color: var(--color-primary);
}
.faq-items__icon::after,
.faq-items__icon::before {
  content: "";
  position: absolute;
  top: 40.74%;
  bottom: 40.74%;
  width: var(--width-line);
  background-color: var(--color-neutral);
}
.faq-items__icon::before {
  right: 50%;
  transform-origin: right bottom;
  transform: skewX(212deg);
}
.faq-items__icon::after {
  left: 50%;
  transform-origin: left bottom;
  transform: skewX(-212deg);
}
._spoller-active .faq-items__icon {
  background-color: var(--color-accent);
}
._spoller-active .faq-items__icon::before {
  transform-origin: right top;
  transform: skewX(-212deg);
}
._spoller-active .faq-items__icon::after {
  transform-origin: left top;
  transform: skewX(212deg);
}
@media (min-width: 575.98px) {
  .partners__item {
    width: calc((100% - 2 * var(--gap-normal)) / 3);
  }
}
@media (min-width: 767.98px) {
  :root {
    --width-container: calc(100% - 2 * (3 * var(--width-line) + 3 * var(--width-line-gap)));
  }
  .page-lines__side::before {
    content: "";
    margin: 0 var(--width-line-gap);
    padding-right: var(--width-line-gap);
    border-right: var(--width-line) solid var(--color-primary);
    border-left: var(--width-line) solid var(--color-primary);
  }
  .header {
    border-top: none;
  }
  .welcome__promo {
    display: none;
  }
  .promo-slider__item_promo {
    display: block;
  }
  .promo-slider__item:nth-child(odd) .promo-card__img,
  .promo-slider__item:nth-child(odd) .promo-card__video {
    aspect-ratio: 536/589;
  }
  .promo-slider__item:nth-child(even) .promo-card__img,
  .promo-slider__item:nth-child(even) .promo-card__video {
    aspect-ratio: 536/398;
  }
  .partners__body {
    padding-right: var(--padding-page);
    padding-left: var(--padding-page);
  }
  .partners__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
  }
  .category-slider {
    margin: 0 calc(-1 * var(--width-line));
  }
  .faq__body {
    margin: 0 auto;
  }
  .faq-items__btn {
    line-height: 1;
  }
}
@media (min-width: 1023.98px) {
  .header:not(.header_scroll) {
    --color-header: var(--color-main);
    --color-header-hover: var(--color-primary);
  }
  .header__action {
    display: none;
  }
  .logo_h-fix {
    top: 20%;
  }
  .menu {
    flex-grow: 1;
  }
  .menu__btn {
    display: none;
  }
  .menu__dropdown {
    overflow: visible;
  }
  .menu__main {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .menu__box {
    min-width: 40%;
  }
  ._is-scroll-up .header_scroll .menu__box {
    min-width: 37%;
  }
  .menu__list {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header:not(.header_scroll) .menu__link_accent {
    --color-header: var(--color-primary);
    --color-header-hover: var(--color-primary-dark);
  }
  .partners__item {
    width: calc((100% - 3 * var(--gap-normal)) / 4);
  }
  .join__title span + span {
    margin-top: -0.243em;
  }
}
@media (min-width: 1279.98px) {
  :root {
    --width-line: 6px;
    --width-line-gap: 20px;
  }
}
@media (min-width: 1535.98px) {
  .partners__item {
    width: calc((100% - 4 * var(--gap-normal)) / 5);
  }
  ._is-list-init .partners__item:nth-child(n+6) {
    display: none;
  }
}
@media (min-width: 3840.98px) {
  :root {
    --height-header: 258px;
    --height-logo-large: 504px;
    --height-logo-small: 108px;
    --height-btn-large: 232px;
    --height-btn-normal: 120px;
    --height-btn-normal-icon: 44px;
    --gap-medium: 60px;
    --gap-normal: 40px;
    --gap-small: 20px;
    --padding-page: 112px;
    --title-1: 560px;
    --title-2: 444px;
    --title-3: 344px;
    --title-4: 316px;
  }
  .btn_normal {
    padding-right: 58px;
    padding-left: 58px;
    font-size: 40px;
  }
  .header__body {
    padding-top: 92px;
    padding-bottom: 94px;
  }
  ._is-scroll-up .header_scroll .header__body {
    padding: 78px 80px;
  }
  .menu__link {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 32px;
  }
  .footer::before {
    height: 144px;
  }
  .welcome__body {
    padding-top: 858px;
    padding-bottom: 160px;
  }
  .welcome__head {
    margin-bottom: 392px;
  }
  .welcome__promo {
    margin-bottom: 160px;
  }
  .welcome__promo-label {
    font-size: 32px;
  }
  .welcome__demo {
    margin-bottom: 160px;
  }
  .promo-slider__item {
    width: 1072px;
  }
  .promo-card__media:not(:last-child) {
    margin-bottom: 24px;
  }
  .promo-card__info,
  .promo-card__title {
    font-size: 32px;
  }
  .partners__body {
    padding-top: 248px;
    padding-bottom: 208px;
  }
  .partners__head {
    margin-bottom: 128px;
  }
  .join__body {
    padding-top: 120px;
    padding-bottom: 288px;
  }
  .join__head {
    margin-bottom: -152px;
  }
  .category-slider__item {
    width: 544px;
  }
  .faq__body {
    max-width: 2104px;
    padding-top: 208px;
    padding-bottom: 208px;
  }
  .faq__head {
    margin-bottom: 100px;
  }
  .faq__title span:nth-child(2) {
    padding: 40px;
    font-size: 80px;
  }
  .faq-items__btn {
    padding: 62px 48px 62px 80px;
    font-size: 40px;
  }
  .faq-items__title {
    max-width: 1320px;
  }
  .faq-items__icon {
    width: 108px;
  }
}
@media (max-width: 1023.98px) {
  ._is-menu-open .header {
    background-color: var(--color-primary);
  }
  ._is-menu-open .header::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 98%;
    left: 50%;
    transform: translateX(-50%);
    width: var(--width-container);
    height: 50px;
    background-image: linear-gradient(180deg, var(--color-primary) 5%, transparent 100%);
  }
  .menu__dropdown {
    position: fixed;
    z-index: -5;
    top: var(--height-header);
    right: 0;
    width: 100%;
    max-width: var(--width-page);
    height: 100%;
    max-height: calc(var(--height-page) - var(--height-header));
    background-color: var(--color-primary);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  ._is-menu-open .menu__dropdown {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .menu__body {
    max-width: var(--width-container);
    margin: 0 auto;
  }
  .menu__item_pc {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .page-lines__top {
    display: none;
  }
  .header_scroll {
    background-color: var(--color-primary);
  }
  .pagination__item a,
  .pagination__item span {
    width: 40px;
    height: 40px;
  }
  .pagination__item + .pagination__item {
    margin-left: 2px;
  }
  .partners__btn {
    justify-content: space-between;
  }
}
@media (max-width: 575.98px) {
  ._is-list-init .partners__item:nth-child(n+5) {
    display: none;
  }
}
@media (max-width: 359.98px) {
  :root {
    --height-header: 70px;
    --height-header-btn: 46px;
    --height-logo-large: 146px;
    --height-logo-small: 27px;
    --height-btn-large: 42px;
    --height-btn-normal: 42px;
    --height-btn-normal-icon: 16px;
    --gap-medium: 20px;
    --gap-normal: 8px;
    --gap-small: 8px;
    --padding-page: 8px;
    --title-1: 62px;
    --title-1: 60px;
    --title-2: 50px;
    --title-3: 50px;
    --title-4: 40;
    --title-4: 40px;
  }
  .btn_normal {
    padding-right: 14px;
    padding-left: 14px;
    font-size: 14px;
  }
  .header__body {
    padding-top: 8px;
    padding-bottom: 12px;
  }
  .menu__main {
    padding-top: 41px;
    padding-bottom: 41px;
  }
  .menu__main:not(:last-child) {
    margin-bottom: 27px;
  }
  .menu__link {
    padding: 7px;
    font-size: 28px;
  }
  .footer::before {
    height: 47px;
  }
  .welcome__body {
    padding-top: 214px;
    padding-bottom: 50px;
  }
  .welcome__head {
    margin-bottom: 41px;
  }
  .welcome__promo {
    margin-bottom: 10px;
  }
  .welcome__promo-label {
    font-size: 14px;
  }
  .welcome__demo {
    margin-bottom: 10px;
  }
  .welcome-video {
    height: 360px;
  }
  .welcome-video__btn {
    width: 36px;
  }
  .promo-slider__item {
    width: 221px;
  }
  .promo-card__media:not(:last-child) {
    margin-bottom: 6px;
  }
  .promo-card__info,
  .promo-card__title {
    font-size: 14px;
  }
  .partners__body {
    padding-top: 32px;
  }
  .partners__head,
  .partners__list:not(:last-child) {
    margin-bottom: 36px;
  }
  .join__body {
    padding-top: 54px;
    padding-bottom: 22px;
  }
  .join__head {
    margin-bottom: 36px;
  }
  .category-slider__item {
    width: 164px;
  }
  .faq__body {
    padding-top: 32px;
    padding-bottom: 66px;
  }
  .faq__head {
    margin-bottom: 40px;
  }
  .faq__title span:nth-child(2) {
    padding: 10px;
    font-size: 16px;
  }
  .faq-items__btn {
    padding: 14px;
    font-size: 14px;
  }
  .faq-items__title {
    max-width: 246px;
  }
  .faq-items__icon {
    width: 30px;
  }
}
@media (min-width: 359.98px) and (max-width: 1023.98px) {
  :root {
    --height-header: clamp( 70px , 60.7836445783px + 2.5602409639vw , 87px );
    --height-header-btn: clamp( 46px , 43.8314457831px + 0.6024096386vw , 50px );
    --height-logo-large: clamp( 146px , 138.410060241px + 2.1084337349vw , 160px );
    --height-logo-small: clamp( 27px , 24.2893072289px + 0.7530120482vw , 32px );
  }
  .menu__main {
    padding-top: clamp( 41px , 35.0364759036px + 1.656626506vw , 52px );
    padding-bottom: clamp( 41px , 35.0364759036px + 1.656626506vw , 52px );
  }
  .menu__main:not(:last-child) {
    margin-bottom: clamp( 27px , 17.7836445783px + 2.5602409639vw , 44px );
  }
  .menu__link {
    padding: clamp( 7px , 5.3735843373px + 0.4518072289vw , 10px );
    font-size: clamp( 28px , 25.8314457831px + 0.6024096386vw , 32px );
  }
  .welcome__body {
    padding-top: clamp( 214px , 178.2188554217px + 9.9397590361vw , 280px );
  }
}
@media (min-width: 1023.98px) and (max-width: 1920.98px) {
  :root {
    --height-header: clamp( 71px , 4.7894760312px + 6.4659977703vw , 129px );
    --height-logo-large: clamp( 160px , 54.9764102564px + 10.2564102564vw , 252px );
    --height-logo-small: clamp( 28px , -1.6805797101px + 2.8985507246vw , 54px );
  }
  .header__body {
    padding-top: clamp( 24px , -1.1143366778px + 2.4526198439vw , 46px );
    padding-bottom: clamp( 25px , -0.1143366778px + 2.4526198439vw , 47px );
  }
  ._is-scroll-up .header_scroll .header__body {
    padding-top: clamp( 20px , -1.6896544036px + 2.1181716834vw , 39px );
    padding-bottom: clamp( 20px , -1.6896544036px + 2.1181716834vw , 39px );
  }
  .menu__link {
    padding-top: clamp( 6px , 1.4337569677px + 0.4459308807vw , 10px );
    padding-bottom: clamp( 6px , 1.4337569677px + 0.4459308807vw , 10px );
    font-size: clamp( 10px , 3.1506354515px + 0.6688963211vw , 16px );
  }
  .welcome__body {
    padding-top: clamp( 280px , 109.9074470457px + 16.6109253066vw , 429px );
  }
}
@media (min-width: 1920.98px) and (max-width: 3840.98px) {
  :root {
    --height-header: clamp( 129px , -0.06584375px + 6.71875vw , 258px );
    --height-logo-large: clamp( 252px , -0.128625px + 13.125vw , 504px );
    --height-logo-small: clamp( 54px , -0.0275625px + 2.8125vw , 108px );
    --height-btn-large: clamp( 116px , -0.0592083333px + 6.0416666667vw , 232px );
    --height-btn-normal: clamp( 60px , -0.030625px + 3.125vw , 120px );
    --height-btn-normal-icon: clamp( 22px , -0.0112291667px + 1.1458333333vw , 44px );
    --gap-medium: clamp( 30px , -0.0153125px + 1.5625vw , 60px );
    --gap-normal: clamp( 20px , -0.0102083333px + 1.0416666667vw , 40px );
    --gap-small: clamp( 10px , -0.0051041667px + 0.5208333333vw , 20px );
    --padding-page: clamp( 56px , -0.0285833333px + 2.9166666667vw , 112px );
    --title-1: clamp( 280px , -0.1429166667px + 14.5833333333vw , 560px );
    --title-2: clamp( 222px , -0.1133125px + 11.5625vw , 444px );
    --title-3: clamp( 172px , -0.0877916667px + 8.9583333333vw , 344px );
    --title-4: clamp( 158px , -0.0806458333px + 8.2291666667vw , 316px );
  }
  .btn_normal {
    padding-right: clamp( 29px , -0.0148020833px + 1.5104166667vw , 58px );
    padding-left: clamp( 29px , -0.0148020833px + 1.5104166667vw , 58px );
    font-size: clamp( 20px , -0.0102083333px + 1.0416666667vw , 40px );
  }
  .header__body {
    padding-top: clamp( 46px , -0.0234791667px + 2.3958333333vw , 92px );
    padding-bottom: clamp( 47px , -0.0239895833px + 2.4479166667vw , 94px );
  }
  ._is-scroll-up .header_scroll .header__body {
    padding-top: clamp( 39px , -0.01990625px + 2.03125vw , 78px );
    padding-right: clamp( 40px , -0.0204166667px + 2.0833333333vw , 80px );
    padding-bottom: clamp( 39px , -0.01990625px + 2.03125vw , 78px );
    padding-left: clamp( 40px , -0.0204166667px + 2.0833333333vw , 80px );
  }
  .menu__link {
    padding-top: clamp( 10px , -0.0051041667px + 0.5208333333vw , 20px );
    padding-bottom: clamp( 10px , -0.0051041667px + 0.5208333333vw , 20px );
    font-size: clamp( 16px , -0.0081666667px + 0.8333333333vw , 32px );
  }
  .footer::before {
    height: clamp( 72px , -0.03675px + 3.75vw , 144px );
  }
  .welcome__body {
    padding-top: clamp( 429px , -0.21896875px + 22.34375vw , 858px );
    padding-bottom: clamp( 80px , -0.0408333333px + 4.1666666667vw , 160px );
  }
  .welcome__head {
    margin-bottom: clamp( 196px , -0.1000416667px + 10.2083333333vw , 392px );
  }
  .welcome__promo {
    margin-bottom: clamp( 80px , -0.0408333333px + 4.1666666667vw , 160px );
  }
  .welcome__promo-label {
    font-size: clamp( 16px , -0.0081666667px + 0.8333333333vw , 32px );
  }
  .welcome__demo {
    margin-bottom: clamp( 80px , -0.0408333333px + 4.1666666667vw , 160px );
  }
  .promo-slider__item {
    width: clamp( 536px , -0.2735833333px + 27.9166666667vw , 1072px );
  }
  .promo-card__media:not(:last-child) {
    margin-bottom: clamp( 12px , -0.006125px + 0.625vw , 24px );
  }
  .promo-card__info,
  .promo-card__title {
    font-size: clamp( 16px , -0.0081666667px + 0.8333333333vw , 32px );
  }
  .partners__body {
    padding-top: clamp( 124px , -0.0632916667px + 6.4583333333vw , 248px );
    padding-bottom: clamp( 104px , -0.0530833333px + 5.4166666667vw , 208px );
  }
  .partners__head {
    margin-bottom: clamp( 64px , -0.0326666667px + 3.3333333333vw , 128px );
  }
  .join__body {
    padding-top: clamp( 60px , -0.030625px + 3.125vw , 120px );
    padding-bottom: clamp( 144px , -0.0735px + 7.5vw , 288px );
  }
  .join__head {
    margin-bottom: clamp( -152px , -11.9642708333px + -3.6458333333vw , -82px );
  }
  .category-slider__item {
    width: clamp( 272px , -0.1388333333px + 14.1666666667vw , 544px );
  }
  .faq__body {
    max-width: clamp( 1052px , -0.5369583333px + 54.7916666667vw , 2104px );
    padding-top: clamp( 104px , -0.0530833333px + 5.4166666667vw , 208px );
    padding-bottom: clamp( 104px , -0.0530833333px + 5.4166666667vw , 208px );
  }
  .faq__head {
    margin-bottom: clamp( 50px , -0.0255208333px + 2.6041666667vw , 100px );
  }
  .faq__title span:nth-child(2) {
    padding: clamp( 20px , -0.0102083333px + 1.0416666667vw , 40px );
    font-size: clamp( 40px , -0.0204166667px + 2.0833333333vw , 80px );
  }
  .faq-items__btn {
    padding-top: clamp( 24px , -14.0193958333px + 1.9791666667vw , 62px );
    padding-right: clamp( 24px , -0.01225px + 1.25vw , 48px );
    padding-bottom: clamp( 24px , -14.0193958333px + 1.9791666667vw , 62px );
    padding-left: clamp( 40px , -0.0204166667px + 2.0833333333vw , 80px );
    font-size: clamp( 20px , -0.0102083333px + 1.0416666667vw , 40px );
  }
  .faq-items__title {
    max-width: clamp( 660px , -0.336875px + 34.375vw , 1320px );
  }
  .faq-items__icon {
    width: clamp( 54px , -0.0275625px + 2.8125vw , 108px );
  }
}
@media (min-width: 359.98px) and (max-width: 1920.98px) {
  :root {
    --height-btn-large: clamp( 42px , 24.9349647662px + 4.7405509289vw , 116px );
    --height-btn-normal: clamp( 42px , 37.8490454837px + 1.1531069827vw , 60px );
    --height-btn-normal-icon: clamp( 16px , 14.6163484946px + 0.3843689942vw , 22px );
    --gap-medium: clamp( 20px , 17.6939141576px + 0.6406149904vw , 30px );
    --gap-normal: clamp( 8px , 5.2326969891px + 0.7687379885vw , 20px );
    --gap-small: clamp( 8px , 7.5387828315px + 0.1281229981vw , 10px );
    --padding-page: clamp( 8px , -3.0692120436px + 3.0749519539vw , 56px );
    --title-1: clamp( 60px , 9.266111467px + 14.0935297886vw , 280px );
    --title-2: clamp( 50px , 10.3353235106px + 11.0185778347vw , 222px );
    --title-3: clamp( 50px , 21.8657527226px + 7.8155028828vw , 172px );
    --title-4: clamp( 40px , 12.7881870596px + 7.5592568866vw , 158px );
  }
  .btn_normal {
    padding-right: clamp( 14px , 10.5408712364px + 0.9609224856vw , 29px );
    padding-left: clamp( 14px , 10.5408712364px + 0.9609224856vw , 29px );
    font-size: clamp( 14px , 12.6163484946px + 0.3843689942vw , 20px );
  }
  .footer::before {
    height: clamp( 47px , 41.234785394px + 1.601537476vw , 72px );
  }
  .welcome__body {
    padding-bottom: clamp( 50px , 43.0817424728px + 1.9218449712vw , 80px );
  }
  .welcome__head {
    margin-bottom: clamp( 41px , 5.2556694427px + 9.9295323511vw , 196px );
  }
  .welcome__promo {
    margin-bottom: clamp( 10px , -6.1426008969px + 4.4843049327vw , 80px );
  }
  .welcome__promo-label {
    font-size: clamp( 14px , 13.5387828315px + 0.1281229981vw , 16px );
  }
  .welcome__demo {
    margin-bottom: clamp( 10px , -6.1426008969px + 4.4843049327vw , 80px );
  }
  .promo-slider__item {
    width: clamp( 221px , 148.3582959641px + 20.1793721973vw , 536px );
  }
  .promo-card__media:not(:last-child) {
    margin-bottom: clamp( 6px , 4.6163484946px + 0.3843689942vw , 12px );
  }
  .promo-card__info,
  .promo-card__title {
    font-size: clamp( 14px , 13.5387828315px + 0.1281229981vw , 16px );
  }
  .partners__body {
    padding-top: clamp( 32px , 10.7840102498px + 5.8936579116vw , 124px );
  }
  .partners__head {
    margin-bottom: clamp( 36px , 29.5429596413px + 1.7937219731vw , 64px );
  }
  .join__body {
    padding-top: clamp( 54px , 52.6163484946px + 0.3843689942vw , 60px );
    padding-bottom: clamp( 22px , -6.1342472774px + 7.8155028828vw , 144px );
  }
  .join__head {
    margin-bottom: clamp( -82px , 63.2118129404px + -7.5592568866vw , 36px );
  }
  .category-slider__item {
    width: clamp( 164px , 139.094272902px + 6.9186418962vw , 272px );
  }
  .faq__body {
    padding-top: clamp( 32px , 15.3961819347px + 4.6124279308vw , 104px );
    padding-bottom: clamp( 66px , 57.2368737988px + 2.4343369635vw , 104px );
  }
  .faq__head {
    margin-bottom: clamp( 40px , 37.6939141576px + 0.6406149904vw , 50px );
  }
  .faq__title span:nth-child(2) {
    padding: clamp( 10px , 7.6939141576px + 0.6406149904vw , 20px );
    font-size: clamp( 16px , 10.4653939782px + 1.5374759769vw , 40px );
  }
  .faq-items__btn {
    padding-top: clamp( 14px , 11.6939141576px + 0.6406149904vw , 24px );
    padding-right: clamp( 14px , 11.6939141576px + 0.6406149904vw , 24px );
    padding-bottom: clamp( 14px , 11.6939141576px + 0.6406149904vw , 24px );
    padding-left: clamp( 14px , 8.0041768097px + 1.665598975vw , 40px );
    font-size: clamp( 14px , 12.6163484946px + 0.3843689942vw , 20px );
  }
  .faq-items__icon {
    width: clamp( 30px , 24.4653939782px + 1.5374759769vw , 54px );
  }
}
@media (min-width: 359.98px) and (max-width: 767.98px) {
  .header__body {
    padding-top: clamp( 8px , 4.4707843137px + 0.9803921569vw , 12px );
    padding-bottom: clamp( 12px , 8.4707843137px + 0.9803921569vw , 16px );
  }
  .welcome-video {
    height: clamp( 360px , 301.7679411765px + 16.1764705882vw , 426px );
  }
  .welcome-video__btn {
    width: clamp( 36px , 21.8831372549px + 3.9215686275vw , 52px );
  }
  .partners__list:not(:last-child) {
    margin-bottom: clamp( 36px , 29.823872549px + 1.7156862745vw , 43px );
  }
  .faq-items__title {
    max-width: clamp( 246px , 21.8948039216px + 62.2549019608vw , 500px );
  }
}
@media (min-width: 767.98px) and (max-width: 1023.98px) {
  .header__body {
    padding-top: clamp( 16px , 10.00015625px + 0.78125vw , 18px );
    padding-bottom: clamp( 16px , 7.000234375px + 1.171875vw , 19px );
  }
}
@media (min-width: 767.98px) and (max-width: 1920.98px) {
  ._is-scroll-up .header_scroll .header__body {
    padding-right: clamp( 8px , -13.3142758023px + 2.7753686036vw , 40px );
    padding-left: clamp( 8px , -13.3142758023px + 2.7753686036vw , 40px );
  }
  .partners__body {
    padding-bottom: clamp( 78px , 60.6821509107px + 2.2549869905vw , 104px );
  }
  .faq__body {
    max-width: clamp( 620px , 332.2572766696px + 37.4674761492vw , 1052px );
  }
  .faq-items__title {
    max-width: clamp( 440px , 293.4643538595px + 19.08065915vw , 660px );
  }
}
@media (min-width: 575.98px) and (max-width: 1023.98px) {
  ._is-list-init .partners__item:nth-child(n+4) {
    display: none;
  }
}
@media (min-width: 1023.98px) and (max-width: 1535.98px) {
  ._is-list-init .partners__item:nth-child(n+5) {
    display: none;
  }
}
@media (any-hover: hover) {
  .menu__dropdown::-webkit-scrollbar,
  .popup__inner::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .menu__dropdown::-webkit-scrollbar-track,
  .popup__inner::-webkit-scrollbar-track {
    background-color: var(--color-shadow);
  }
  .menu__dropdown::-webkit-scrollbar-thumb,
  .popup__inner::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border: 2px solid var(--color-shadow);
  }
  .btn_accent:not(:active):hover {
    background-color: var(--color-accent-dark);
  }
  .btn_primary:not(:active):hover {
    background-color: var(--color-primary-dark);
  }
  .header__link:not(:active):hover,
  .menu__btn:not(:active):hover,
  .menu__link:not(:active):hover {
    color: var(--color-header-hover);
  }
  .breadcrumbs__item:not(:last-child) .breadcrumbs__link:not(:active):hover {
    color: var(--color-main-light);
  }
  .pagination__item:not(.pagination__item_active):not(.pagination__item_disabled) a:not(:active):hover {
    color: var(--color-neutral);
    background-color: var(--color-accent);
  }
  .pagination__item:not(.pagination__item_active):not(.pagination__item_disabled) a:not(:active):hover::after {
    border-color: var(--color-neutral);
  }
  .popup__close:not(:active):hover::after,
  .popup__close:not(:active):hover::before {
    background-color: var(--color-main);
  }
  .category-slider__link:not(:active):hover ~ * .category-slider__img_hover {
    opacity: 1;
  }
  .faq-items__btn:not(:active):hover {
    background-color: var(--color-shadow-darkest);
  }
  .faq-items__btn:not(:active):hover .faq-items__icon {
    background-color: var(--color-primary-dark);
  }
  .faq-items__btn._spoller-active:not(:active):hover .faq-items__icon {
    background-color: var(--color-accent-dark);
  }
}
.webp .noise {
  background-image: url(../img/content/noise.webp);
}