@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.anim_fadeIn {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
}

[data-template="ws_partners"] .p-body-header {
  display: none;
}

.partners {
  --gradient: linear-gradient(130deg, #ffc404 -8%, #ff4001 50%);
  display: grid;
  gap: 80px 0;
  padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figure {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.incp {
  position: relative;
}

.incp__head {
  margin-bottom: 30px;
}

.incp__content {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.incp__suptitle {
  margin-bottom: 30px;
  font-size: 24px;
}

.incp__info {
  position: absolute;
  top: 70px;
  left: 700px;
  display: flex;
  align-items: center;
  padding: 18px 34px 18px 24px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  background-color: rgba(98, 77, 67, 0.3);
  border-radius: 100px;
  border: 1px solid #c17055;
}

.incp__info svg {
  flex-shrink: 0;
  margin-right: 14px;
  width: 48px;
  aspect-ratio: 1/1;
}

.incp__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 110px;
  line-height: 1;
}

.incp__menu {
  position: absolute;
  top: 315px;
  left: 626px;
}

.incp__items {
  position: relative;
  padding: 20px 20px 1px;
  background-color: #fff;
  border-radius: 4px;
}

.incp__items:not(:last-child) {
  margin-bottom: 40px;
}

.incp__item {
  position: sticky;
  top: 60px;
  margin-bottom: 20px;
}

.incp__link {
  position: relative;
  display: block;
  font-size: 0;
  background-color: #191a1f;
  border-radius: 4px;
}

.incp__img {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 1130/635;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 4px;
}

.incp__more {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 5.35%;
  color: transparent !important;
  background-color: #fff !important;
  border: none !important;
  opacity: 0;
  animation-delay: 0.5s;
}

.incp__more span {
  display: inline-block;
  margin-right: 0.7em;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.incp__more::after {
  content: "";
  display: inline-block;
  width: 0.6em;
  aspect-ratio: 9/12;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='12' viewBox='0 0 9 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.3354 0.139796C3.08928 0.348492 3.06078 0.715051 3.27174 0.958529L7.63998 5.99998L3.27174 11.0414C3.06078 11.2849 3.08928 11.6515 3.33541 11.8602C3.58153 12.0689 3.95208 12.0407 4.16304 11.7972L8.85869 6.37785C9.0471 6.16041 9.0471 5.83954 8.85869 5.6221L4.16304 0.202776C3.95208 -0.0407025 3.58153 -0.0688993 3.3354 0.139796Z' fill='url(%23paint0_linear_1_15702)'/%3E%3Cpath d='M0 0.58068C-1.07367e-08 0.337695 0.152944 0.120407 0.383314 0.0361048C0.613684 -0.0481979 0.872755 0.0183155 1.03261 0.202803L5.72826 5.62213C5.91667 5.83957 5.91667 6.16044 5.72826 6.37788L1.03261 11.7972C0.872756 11.9817 0.613685 12.0482 0.383315 11.9639C0.152944 11.8796 7.5709e-07 11.6623 7.46354e-07 11.4193L0 0.58068Z' fill='url(%23paint1_linear_1_15702)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_15702' x1='3.95729' y1='13.3636' x2='-2.55381' y2='12.6657' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF4001'/%3E%3Cstop offset='1' stop-color='%23FFC404'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1_15702' x1='3.95729' y1='13.3636' x2='-2.55381' y2='12.6657' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF4001'/%3E%3Cstop offset='1' stop-color='%23FFC404'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.incp__desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #fff;
}

.incp-nav__btn {
  background: var(--gradient) !important;
  border: 1px solid #f36232;
  filter: drop-shadow(rgba(205, 60, 12, 0.5) 0 9px 30px);
  color: #fff !important;
}

.incp-nav__btn:focus-visible {
  outline: none;
}

.incp-nav-is-open .incp-nav__btn {
  background: #fff !important;
}

.incp-nav-is-open .incp-nav__btn::before {
  content: "\e902";
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.incp-nav-is-open .incp-nav__btn span {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.incp-nav__body {
  position: absolute;
  z-index: -100;
  top: 100%;
  left: -330px;
  width: 854px;
  min-height: 200px;
  max-height: 70vh;
  margin-top: 15px;
  background-color: #e4e4e4;
  border: 6px solid #f6af71;
  border-radius: 4px;
  box-shadow: 0px 10px 30px 0px rgba(105, 80, 58, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: auto;
}

.incp-nav-is-open .incp-nav__body {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.incp-nav__list {
  position: relative;
  padding: 10px;
  -moz-column-count: 3;
  column-count: 3;
  -moz-column-gap: 20px;
  column-gap: 20px;
  font-size: 14px;
  line-height: initial;
}

.incp-nav__list::before,
.incp-nav__list::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  width: 1px;
  background-color: #f6af71;
}

.incp-nav__list::before {
  left: 33.333%;
}

.incp-nav__list::after {
  right: 33.333%;
}

.incp-nav__item {
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.incp-nav__link {
  display: block;
  padding: 10px;
  text-decoration: none !important;
  color: #191a1f !important;
  border-radius: 4px;
  transition-duration: 0.5s;
  transition-property: background-color;
}

.incp-nav__link:focus-visible {
  outline: none;
  background-color: #f6af71;
}

.incp-nav__link_color {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #f6af71;
}

.incp-nav__link_color svg {
  flex-shrink: 0;
  aspect-ratio: 1/1;
  width: 20px;
  height: auto;
  margin-right: 10px;
}

.incp-nav__link_color span {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.incp-nav__link_color:focus-visible {
  background-color: #ffffff;
}

.partners-main__title {
  padding: 20px;
  margin: 0 0 20px;
  text-transform: uppercase;
  text-align: center;
  font-size: 46px;
  color: #fff;
  background: linear-gradient(270deg, #19e69a 2%, #10a3c7 45%, #2573fa 100%);
  border-radius: 4px;
}

.partners-main__items {
  position: relative;
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 20px;
  padding: 20px 20px 40px;
  background-color: #fff;
  border-radius: 4px;
}

.partners-main__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none !important;
  text-align: center;
  color: inherit;
}

.partners-main__item:focus-visible {
  outline: none;
}

.partners-main__item:focus-visible .partners-main__img {
  transform: translate(-50%, -50%) scale(1.1);
}

.partners-main__img-box {
  position: relative;
  width: 100%;
  aspect-ratio: 363/180;
  border-radius: 4px;
}

.partners-main__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  border-radius: 4px;
  transition-duration: 0.5s;
  transition-property: transform;
}

.partners-main__text {
  padding: 14px 14px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}

.partners-guide__head {
  display: flex;
}

.partners-guide__head:not(:last-child) {
  margin-bottom: 60px;
}

.partners-guide__content {
  flex-grow: 1;
  color: #fff;
}

.partners-guide__title {
  text-transform: uppercase;
  text-wrap: balance;
  font-weight: 500;
  font-size: 46px;
  line-height: 1.2;
}

.partners-guide__title:not(:last-child) {
  margin-bottom: 20px;
}

.partners-guide__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}

.partners-guide__cards {
  align-self: flex-start;
  flex: 0 0 376px;
  margin: 0 0 0 60px;
}

.partners-card {
  position: relative;
  padding: 20px;
  color: #fff;
  background: linear-gradient(278deg, #ff4001 48%, #ffc404 112%);
  border-radius: 4px;
  box-shadow: 0px 9px 30px 0px rgba(205, 60, 12, 0.5);
  overflow: hidden;
}

.partners-card > svg {
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  width: 125px;
  height: auto;
  aspect-ratio: 125/119;
}

.partners-card__title {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  text-wrap: balance;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.partners-card__items {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -3px -8px;
}

.partners-card__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  margin: 0 3px 8px;
  color: inherit !important;
  font-weight: 500;
  font-size: 20px;
  border-radius: 4px;
  overflow: hidden;
}

.partners-card__item:focus-visible {
  outline: none;
}

.partners-card__item:focus-visible svg {
  background-color: rgba(255, 255, 255, 0.8);
}

.partners-card__item svg {
  width: auto;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
  transition-duration: 1s;
  transition-property: background-color;
}

.partners-card__item svg:not(:last-child) {
  margin-right: 16px;
}

.partners-card__item span {
  padding-right: 32px;
}

.guide-slider {
  width: 100%;
  max-width: 1170px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
  overflow: hidden;
}

.guide-slider__items {
  position: relative;
  display: flex;
  width: 100%;
  will-change: transform;
}

.guide-slider__item {
  position: relative;
  flex-shrink: 0;
  width: calc(~"(100% - 40px) / 3");
  aspect-ratio: 363/204;
  color: inherit;
  background-color: #191a1f;
  border-radius: 4px;
  overflow: hidden;
}

.guide-slider__item:focus-visible {
  outline: none;
}

.guide-slider__item:focus-visible::after {
  transform: translate(-50%, -50%) scale(1.3);
}

.guide-slider__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='26' height='27' viewBox='0 0 26 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.8222 9.90211C26.7259 11.4022 26.7259 15.2853 23.8223 16.7854L6.29011 25.8426C3.46806 27.3005 -1.41114e-07 25.403 0 22.401L8.51505e-07 4.28651C9.92618e-07 1.28454 3.46806 -0.61302 6.2901 0.844868L23.8222 9.90211Z' fill='white'/%3E%3Cpath d='M23.8222 9.90211C26.7259 11.4022 26.7259 15.2853 23.8223 16.7854L6.29011 25.8426C3.46806 27.3005 -1.41114e-07 25.403 0 22.401L8.51505e-07 4.28651C9.92618e-07 1.28454 3.46806 -0.61302 6.2901 0.844868L23.8222 9.90211Z' fill='url(%23paint0_linear_1_15475)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_15475' x1='11.4322' y1='29.2983' x2='-7.21296' y2='26.6336' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF4001'/%3E%3Cstop offset='1' stop-color='%23FFC404'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  pointer-events: none;
  transition-duration: 0.5s;
  transition-property: transform;
}

.guide-slider__actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.guide-slider__button {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #235280;
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: 4px;
  transition: background-color 0.125s ease, border-color 0.125s ease, color 0.125s ease;
  cursor: pointer;
}

.guide-slider__button:not(.guide-slider__button_disabled):focus-visible {
  outline: none;
  color: #fff;
  background-color: #235280;
}

.guide-slider__button svg {
  flex-shrink: 0;
  width: 44px;
  aspect-ratio: 1/1;
}

.guide-slider__button svg path {
  fill: currentColor;
}

.guide-slider__button_disabled {
  color: #d8d8d8;
  cursor: default;
}

.guide-slider__button_lock {
  color: #d8d8d8;
}

.guide-slider__scrollbar {
  flex-grow: 1;
  height: 1px;
  margin: 0 20px;
  background-color: #d8d8d8;
}

.guide-slider__scrollbar-drag {
  height: 100%;
  background-color: #235280;
}

.guide-slider__img {
  width: 100%;
  aspect-ratio: 363/204;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.partners-info {
  display: flex;
}

.partners-info__card {
  flex: 0 0 calc(~"(100% - 40px) / 3");
}

.partners-info__card + .partners-info__card {
  flex-grow: 2;
  margin: 0 0 0 20px;
  background: linear-gradient(277deg, #1e6bde 36%, #1eeff2 112%);
  box-shadow: 0px 9px 30px 0px rgba(30, 107, 222, 0.5);
}

.incp-popup {
  position: fixed;
  z-index: -100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 35, 40, 0.4);
  transition-duration: 0.5s;
  transition-property: opacity;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.incp-popup.is-open {
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.incp-popup__body {
  position: relative;
  display: flex;
  max-height: calc(~"100% - 30px");
}

.incp-popup__close {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  aspect-ratio: 1/1;
  color: var(--color-close);
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.incp-popup__close::after {
  content: "\e902";
  display: inline-block;
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 95%;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.incp-popup__scroller {
  flex-shrink: 0;
  flex-grow: 1;
  transform: translate3d(0, 0, 0);
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.incp-popup__inner {
  position: relative;
  max-width: 100%;
}

.incp-popup__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}

#incp-14 .incp-popup__bg {
  background-color: #ece9d8;
}

#incp-15 .incp-popup__bg {
  background-color: #000000;
}

.incp-popup__bg .bg-1 {
  position: absolute;
  height: auto;
}

#incp-1 .incp-popup__bg .bg-1 {
  top: 98px;
  right: 0;
  transform: translateX(50%);
  width: 422px;
  aspect-ratio: 422/868;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

#incp-2 .incp-popup__bg .bg-1 {
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 100%;
  aspect-ratio: 302/787;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center right;
  object-position: center right;
}

#incp-3 .incp-popup__bg .bg-1 {
  width: 80%;
  bottom: 40px;
  left: 56%;
  transform: translateX(-50%);
  aspect-ratio: 460/345;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

#incp-6 .incp-popup__bg .bg-1 {
  top: -30px;
  right: 30px;
  width: 60%;
  aspect-ratio: 370/236;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

#incp-7 .incp-popup__bg .bg-1 {
  right: 0;
  bottom: 0;
  width: 69%;
  aspect-ratio: 430/651;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: right bottom;
  object-position: right bottom;
}

#incp-8 .incp-popup__bg .bg-1 {
  right: 50px;
  bottom: 50px;
  width: 51%;
  aspect-ratio: 315/299;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

#incp-9 .incp-popup__bg .bg-1 {
  right: 0;
  bottom: 0;
  width: 65%;
  aspect-ratio: 401/315;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: right bottom;
  object-position: right bottom;
}

#incp-10 .incp-popup__bg .bg-1 {
  top: 80px;
  right: 0;
  width: 55%;
  aspect-ratio: 340/263;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

#incp-11 .incp-popup__bg .bg-1 {
  top: 0;
  right: 40px;
  width: 53%;
  aspect-ratio: 330/726;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: top center;
  object-position: top center;
}

#incp-14 .incp-popup__bg .bg-1 {
  right: 0;
  bottom: 0;
  width: 100%;
  aspect-ratio: 620/286;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
}

#incp-15 .incp-popup__bg .bg-1 {
  position: static;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
}

#incp-16 .incp-popup__bg .bg-1 {
  top: 40px;
  right: 0;
  width: 46%;
  aspect-ratio: 284/390;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: right center;
  object-position: right center;
}

#incp-17 .incp-popup__bg .bg-1 {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 82%;
  aspect-ratio: 504/428;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: bottom center;
  object-position: bottom center;
}

.incp-popup__bg .bg-2 {
  position: absolute;
}

#incp-3 .incp-popup__bg .bg-2 {
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 100%;
}

#incp-14 .incp-popup__bg .bg-2 {
  top: 22%;
  right: 0;
  width: 27%;
  aspect-ratio: 167/229;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: right center;
  object-position: right center;
}

.incp-popup__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

#incp-4 .incp-popup__img {
  -o-object-position: bottom center;
  object-position: bottom center;
}

#incp-5 .incp-popup__img {
  -o-object-position: right center;
  object-position: right center;
}

#incp-6 .incp-popup__img {
  -o-object-position: top center;
  object-position: top center;
}

.incp-popup__content {
  position: relative;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 640px;
  max-width: calc(~"100vw - 30px");
  min-height: 786px;
  padding: 50px;
}

#incp-3 .incp-popup__content {
  padding-left: 110px;
  padding-bottom: 95px;
}

#incp-14 .incp-popup__content {
  padding-bottom: 46%;
}

#incp-17 .incp-popup__content {
  padding-bottom: 54%;
}

.incp-popup__title {
  width: 100%;
  padding-right: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  text-wrap: balance;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.3;
  color: var(--color-title);
}

.incp-popup__list {
  flex: 0 0 70%;
  font-weight: 500;
  font-size: 20px;
  color: var(--color-text);
}

.incp-popup__list_col-2 {
  flex-basis: 47%;
}

.incp-popup__list + .incp-popup__list {
  margin: 0 0 0 auto;
}

#incp-16 .incp-popup__list + .incp-popup__list {
  align-self: flex-end;
}

.incp-popup__item:not(:last-child) {
  margin-bottom: 16px;
}

#incp-16 .incp-popup__text {
  background: linear-gradient(90deg, #fe7829 10%, #fd70aa 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.incp-popup__sublist {
  padding-left: 30px;
}

#incp-16 .incp-popup__sublist {
  padding-left: 0;
}

.incp-popup__subitem {
  margin-top: 16px;
}

.incp-popup__link {
  text-decoration: underline;
  color: var(--color-link);
  transition-duration: 0.5s;
  transition-property: color;
}

.incp-popup__link:focus-visible {
  outline: none;
  text-decoration: none;
  color: var(--color-link-hover);
}

@media (max-width: 1200px) {
  .incp__info {
    left: 540px;
    padding: 15px 26px 15px 20px;
    font-size: 12px;
  }

  .incp__info svg {
    margin-right: 12px;
    width: 32px;
  }

  .incp__title {
    font-size: 84px;
  }

  .incp__menu {
    top: 247px;
    left: 482px;
  }

  .incp__desc {
    font-size: 18px;
  }

  .incp-nav__body {
    width: 800px;
  }

  .partners-main__title {
    font-size: 30px;
  }

  .partners-guide__title {
    font-size: 36px;
  }

  .partners-guide__text {
    font-size: 18px;
  }

  .partners-card__item {
    font-size: 18px;
  }

  .guide-slider {
    max-width: calc(~"100vw - 30px");
  }
}

@media (max-width: 1000px) {
  .partners {
    gap: 40px 0;
    padding-bottom: 10px;
  }

  .incp__head {
    padding: 0 15px;
  }

  .incp__items {
    padding: 15px 15px 1px;
    border-radius: 0;
  }

  .incp__item {
    top: 55px;
    margin-bottom: 15px;
  }

  .incp__desc {
    padding: 0 15px;
  }

  .incp-nav__body {
    left: -400px;
  }

  .incp-nav__list {
    -moz-column-gap: 15px;
    column-gap: 15px;
  }

  .partners-main__title {
    margin: 0 15px 15px;
    font-size: 32px;
  }

  .partners-main__items {
    gap: 30px 16px;
    padding: 15px 15px 40px;
    border-radius: 0;
  }

  .partners-guide__head {
    padding: 0 15px;
  }

  .partners-guide__head:not(:last-child) {
    margin-bottom: 40px;
  }

  .partners-guide__title {
    font-size: 32px;
  }

  .partners-card__item span {
    padding-right: 20px;
  }

  .guide-slider {
    max-width: 100vw;
    padding: 15px;
    border-radius: 0;
  }

  .guide-slider__item {
    width: calc(~"(100% - 30px) / 3");
  }

  .guide-slider__actions {
    margin-top: 15px;
  }

  .guide-slider__scrollbar {
    margin: 0 15px;
  }

  .partners-info {
    padding: 0 15px;
  }

  .partners-info__card + .partners-info__card {
    margin: 0 0 0 15px;
  }

  #incp-1 .incp-popup__bg .bg-1 {
    width: 380px;
  }

  .incp-popup__content {
    width: 600px;
    min-height: 700px;
    padding: 40px;
  }

  #incp-3 .incp-popup__content {
    padding-left: 100px;
    padding-bottom: 80px;
  }

  .incp-popup__title {
    font-size: 28px;
  }

  .incp-popup__list {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .partners {
    gap: 30px 0;
    padding-bottom: 0;
  }

  .incp__info {
    left: 390px;
    padding: 9px 16px 9px 14px;
    font-size: 10px;
  }

  .incp__info svg {
    width: 26px;
  }

  .incp__title {
    margin-bottom: 30px;
    font-size: 60px;
  }

  .incp__menu {
    position: relative;
    top: 0;
    left: 0;
  }

  .incp__items:not(:last-child) {
    margin-bottom: 30px;
  }

  .incp__desc {
    font-size: 16px;
  }

  .incp-nav__body {
    left: 0;
    width: 100vw;
    max-width: calc(~"100vw - 30px");
    border-width: 4px;
  }

  .incp-nav__list {
    padding: 6px;
  }

  .partners-main__title {
    font-size: 24px;
  }

  .partners-main__items {
    grid-template-columns: 1fr 1fr;
    gap: 20px 16px;
  }

  .partners-main__img {
    height: 140px;
  }

  .partners-main__text {
    font-size: 14px;
  }

  .partners-guide__head:not(:last-child) {
    margin-bottom: 30px;
  }

  .partners-guide__title {
    font-size: 24px;
  }

  .partners-guide__title:not(:last-child) {
    margin-bottom: 14px;
  }

  .partners-guide__text {
    font-size: 16px;
  }

  .partners-guide__cards {
    flex-basis: 300px;
    margin: 0 0 0 40px;
  }

  .guide-slider__item {
    width: calc(~"(100% - 15px) / 2");
  }

  .partners-info {
    flex-direction: column;
  }

  .partners-info__card {
    flex: initial;
  }

  .partners-info__card + .partners-info__card {
    flex-grow: initial;
    margin: 15px 0 0;
  }

  .incp-popup__close {
    width: 54px;
  }

  #incp-1 .incp-popup__bg .bg-1 {
    top: 80px;
    width: 320px;
  }

  #incp-3 .incp-popup__bg .bg-2 {
    width: 50px;
  }

  .incp-popup__content {
    width: 510px;
    min-height: 620px;
    padding: 30px;
  }

  #incp-3 .incp-popup__content {
    padding-left: 80px;
    padding-bottom: 65px;
  }

  .incp-popup__title {
    font-size: 24px;
  }

  .incp-popup__list {
    font-size: 16px;
  }

  .incp-popup__item:not(:last-child) {
    margin-bottom: 14px;
  }

  .incp-popup__sublist {
    padding-left: 20px;
  }

  .incp-popup__subitem {
    margin-top: 14px;
  }
}

@media (max-width: 750px) {
  .incp-nav__list {
    -moz-column-count: 2;
    column-count: 2;
  }

  .incp-nav__list::before {
    display: none;
  }

  .incp-nav__list::after {
    right: 50%;
  }

  .partners-guide__head {
    flex-direction: column;
  }

  .partners-guide__cards {
    flex: initial;
    align-self: stretch;
    margin: 20px 0 0;
  }
}

@media (max-width: 650px) {
  .incp__suptitle {
    margin-bottom: 24px;
  }

  .incp__info {
    position: static;
    align-self: flex-start;
    padding: 7px 14px 7px 12px;
    margin-bottom: 24px;
  }

  .incp__info svg {
    margin-right: 8px;
    width: 20px;
  }

  .incp__title {
    margin-bottom: 24px;
    font-size: 42px;
  }

  .incp__item {
    top: 69px;
  }

  .incp__more {
    min-width: 44px;
  }

  .incp__more span {
    display: none;
  }

  .partners-main__items {
    grid-template-columns: 1fr;
  }

  .partners-card__item {
    height: 54px;
  }

  .incp-popup__close {
    width: 40px;
  }

  #incp-1 .incp-popup__bg .bg-1 {
    top: 50px;
    width: 250px;
  }

  #incp-3 .incp-popup__bg .bg-1 {
    bottom: 20px;
  }

  #incp-8 .incp-popup__bg .bg-1 {
    width: 48%;
    right: 20px;
    bottom: 20px;
  }

  #incp-10 .incp-popup__bg .bg-1 {
    top: 120px;
    width: 44%;
  }

  #incp-11 .incp-popup__bg .bg-1 {
    right: 15px;
  }

  #incp-3 .incp-popup__bg .bg-2 {
    width: 40px;
  }

  .incp-popup__content {
    width: 420px;
    min-height: 540px;
    padding: 20px;
  }

  #incp-3 .incp-popup__content {
    padding-left: 60px;
    padding-bottom: 50px;
  }

  #incp-9 .incp-popup__content {
    padding-bottom: 110px;
  }

  .incp-popup__title {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .incp-popup__list {
    font-size: 14px;
  }
}

@media (max-width: 568px) {
  .incp-nav__list {
    -moz-column-count: initial;
    column-count: initial;
  }

  .incp-nav__list::after {
    display: none;
  }

  .guide-slider__item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .incp__title {
    font-size: 32px;
  }

  .partners-card__item span {
    padding-right: 0;
  }

  #incp-16 .incp-popup__bg .bg-1 {
    top: 0;
    width: 32%;
  }

  .incp-popup__list_col-2 {
    flex-basis: 70%;
  }

  .incp-popup__list + .incp-popup__list {
    margin: 14px 0 0;
  }

  #incp-9 .incp-popup__list,
  #incp-16 .incp-popup__list {
    flex-basis: 100%;
  }
}

@media (max-width: 360px) {
  .incp__title {
    font-size: 28px;
  }

  .partners-main__title {
    font-size: 20px;
  }

  .partners-guide__title {
    font-size: 20px;
  }

  .partners-card__item {
    font-size: 16px;
  }

  .partners-card__item svg:not(:last-child) {
    margin-right: 12px;
  }
}

@media (max-width: 650px) and (min-width: 360px) {
  .incp__info br {
    display: none;
  }
}

@media (any-hover: hover) {
  .incp-nav__body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .incp-nav__body::-webkit-scrollbar-track {
    background-color: #ffffff;
  }

  .incp-nav__body::-webkit-scrollbar-thumb {
    background-color: #bab4af;
  }

  @-moz-document url-prefix() {
    .incp-nav__body {
      scrollbar-color: #bab4af #ffffff;
      scrollbar-width: thin;
    }
  }

  .incp-nav__link:not(:active):hover {
    background-color: #f6af71;
  }

  .incp-nav__link_color:not(:active):hover {
    background-color: #ffffff;
  }

  .partners-main__item:not(:active):hover .partners-main__img {
    transform: translate(-50%, -50%) scale(1.1);
  }

  .partners-card__item:not(:active):hover svg {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .guide-slider__item:not(:active):hover::after {
    transform: translate(-50%, -50%) scale(1.3);
  }

  .guide-slider__button:not(.guide-slider__button_disabled):not(:active):hover {
    color: #fff;
    background-color: #235280;
  }

  .incp-popup__scroller::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .incp-popup__scroller::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }

  .incp-popup__scroller::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
  }

  @-moz-document url-prefix() {
    .incp-popup__scroller {
      scrollbar-color: #c9c9c9 #f0f0f0;
      scrollbar-width: thin;
    }
  }

  .incp-popup__link:not(:active):hover {
    text-decoration: none;
    color: var(--color-link-hover);
  }
}
