@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button:disabled {
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="range"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

textarea {
  resize: none;
  padding: 0;
}

html._lock {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

body {
  color: #29366b;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

[class*="__container"] {
  width: 1024.98px;
  margin: 0 auto;
}

._btn {
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.intro__main {
  position: relative;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 768px;
}

.intro__block {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 24px;
  padding-bottom: 0;
}

.intro__block_top {
  padding-top: 0;
}

.actions-intro__line_move._active {
  opacity: 1;
  visibility: visible;
}

.intro__slide {
  position: relative;
}

.intro__footer img,
.intro__header img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}

.intro__footer {
  position: relative;
}

.intro__table-wrap {
  position: relative;
}

.intro__table_fix {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.intro__table_fix .table-intro__main {
  border: none;
  overflow: visible;
}

.intro__table_fix .table-intro__row {
  background: transparent;
}

.intro__table_fix .table-intro__row .table-intro__slide {
  background-color: #fff;
}

.intro__table_fix .table-intro__row_gray {
  background: transparent;
}

.intro__table_fix .table-intro__row_gray .table-intro__slide,
.intro__table_fix .table-intro__row_gray .table-intro__title {
  background-color: #f4f5f7;
}

.intro__table_fix .table-intro__title {
  border-left: 1px solid #d4d7e1;
}

.intro__table_fix .table-intro__title_first {
  border-top: 1px solid #d4d7e1;
  border-radius: 12px 0 0 0;
}

.intro__table_fix .table-intro__title_last {
  border-bottom: 1px solid #d4d7e1;
  border-radius: 0 0 0 12px;
}

.intro__table_fix .table-intro__names {
  padding-left: 0;
  -ms-grid-columns: (1fr) [5];
  grid-template-columns: repeat(5, 1fr);
}

.intro__table_fix .table-intro__slider-wrap {
  -ms-grid-columns: (1fr) [5];
  grid-template-columns: repeat(5, 1fr);
  padding-left: 0;
}

.table-intro__main {
  overflow: hidden;
}

.table-intro__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 232px 1fr;
  grid-template-columns: 232px 1fr;
  background-color: #fff;
  min-width: 0;
}

.table-intro__row_gray .table-intro__title {
  background-color: #f4f5f7;
}

.table-intro__row_gray .table-intro__slide {
  background-color: #f4f5f7;
}

.table-intro__row_gray .table-intro__text {
  border-right: 1px solid transparent;
}

.table-intro__row_gray_first .table-intro__text {
  border-top: 1px solid transparent;
}

.table-intro__row_gray_first:last-child {
  border-radius: 0;
}

.table-intro__row_gray_first:last-child .table-intro__text {
  border-radius: 0;
}

.table-intro__title {
  background-color: #fff;
  padding: 12px;
  font-size: 14px;
  line-height: 142.8571428571%;
  position: relative;
  z-index: 2;
}

.table-intro__slider-wrap {
  min-width: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  padding-left: 148px;
}

.table-intro__slider {
  min-width: 0;
  overflow: visible !important;
}

.table-intro__slide {
  flex-shrink: 0;
  width: 149px;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.table-intro__slide:first-child .table-intro__text {
  border-left: 1px solid #d4d7e1;
}

.table-intro__slide .table-intro__text {
  border-right: 1px solid #d4d7e1;
}

.table-intro__slide_first .table-intro__text {
  border-top: 1px solid #d4d7e1;
}

.table-intro__slide_first:last-child {
  border-radius: 0 12px 0 0;
}

.table-intro__slide_first:last-child .table-intro__text {
  border-radius: 0 12px 0 0;
}

.table-intro__slide_last {
  border-bottom: 4px solid transparent;
  position: relative;
}

.table-intro__slide_last:before,
.table-intro__slide_last:after {
  content: "";
  position: absolute;
  background-color: rgb(202, 146, 245);
  width: 4px;
  height: calc(100% + 4px);
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
}

.table-intro__slide_last:after {
  left: -4px;
}

.table-intro__slide_last:before {
  right: -4px;
}

.table-intro__slide._active {
  border-left: 4px solid rgb(202, 146, 245);
  border-right: 4px solid rgb(202, 146, 245);
}

.table-intro__slide._active.table-intro__slide_first {
  margin-top: -4px;
  border-top: 4px solid rgb(202, 146, 245);
  border-radius: 12px 12px 0 0;
}

.table-intro__slide._active.table-intro__slide_last {
  border-bottom: 4px solid rgb(202, 146, 245);
  border-radius: 0 0 12px 12px;
}

.table-intro__slide._active.table-intro__slide_last:before,
.table-intro__slide._active.table-intro__slide_last:after {
  opacity: 1;
}

.table-intro__slide._active:first-child .table-intro__text {
  border-left: 1px solid transparent;
}

.table-intro__slide._active .table-intro__text {
  border-right: 1px solid transparent;
}

.table-intro__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [5];
  grid-template-columns: repeat(5, 1fr);
}

.table-intro__item {
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.table-intro__item:first-child .table-intro__text {
  border-left: 1px solid #d4d7e1;
}

.table-intro__item:not(:last-child) .table-intro__text {
  border-right: 1px solid #d4d7e1;
}

.table-intro__item_first {
  border-top: 4px solid transparent;
}

.table-intro__item_last {
  border-bottom: 4px solid transparent;
  position: relative;
}

.table-intro__item_last:before,
.table-intro__item_last:after {
  content: "";
  position: absolute;
  background-color: rgb(202, 146, 245);
  width: 4px;
  height: calc(100% + 4px);
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
}

.table-intro__item_last:after {
  left: -4px;
}

.table-intro__item_last:before {
  right: -4px;
}

.table-intro__text {
  text-align: center;
  padding: 12px;
  font-weight: 600;
  text-align: center;
  height: 100%;
  font-size: 14px;
  line-height: 142.8571428571%;
  margin: 0px -4px;
}

.table-intro__text span {
  color: rgb(202, 146, 245);
}

.table-intro__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 233px 1fr;
  grid-template-columns: 233px 1fr;
  padding-bottom: 72px;
  margin-bottom: -72px;
  padding-top: 72px;
  margin-top: -72px;
  overflow: hidden;
}

.table-intro__left {
  background-color: #fff;
  position: relative;
  z-index: 2;
  margin-left: -24px;
  padding-left: 24px;
}

.table-intro__names {
  padding-left: 145.5px;
  min-width: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
}

.names-intro__slider {
  min-width: 0;
  overflow: visible !important;
}

.names-intro__slide {
  flex-shrink: 0;
  min-height: 44px;
  width: 150px;
  background-color: rgb(162, 88, 255);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 12px 6px;
  font-weight: 600;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  font-size: 14px;
  line-height: 142.8571428571%;
  position: relative;
}

.names-intro__slide:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: -4px;
  left: 0;
  background-color: rgb(202, 146, 245);
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  opacity: 0;
}

.names-intro__slide:before {
  content: "";
  position: absolute;
  background-color: rgb(202, 146, 245);
  top: 100%;
  left: 1px;
  right: 1px;
  border-radius: 0 0 12px 12px;
  height: 48px;
  opacity: 0;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
}

.names-intro__slide:not(:last-child) {
  border-right: 1px solid #fff;
}

.names-intro__slide._active {
  left: -1px;
  background-color: rgb(202, 146, 245);
}

.names-intro__slide._active:before,
.names-intro__slide._active:after {
  opacity: 1;
}

.names-intro__slide._active:not(:last-child) {
  border-right: 1px solid rgb(202, 146, 245);
}

.intro__arrows {
  position: absolute;
  bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 462px;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  z-index: 2;
}
.intro__arrows-hot {
  bottom: 24px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 462px;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  z-index: 2;
}
.intro__arrow {
  background-color: #f4f5f7;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 7px;
  cursor: pointer;
}

.intro__arrow path {
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
}

.intro__arrow svg {
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
}

.intro__arrow.swiper-button-disabled {
  pointer-events: none;
}

.intro__arrow.swiper-button-disabled svg {
  opacity: 0.4;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.footer-1 .footer-actions {
  width: 299px;
  position: absolute;
  bottom: 24px;
  right: 15px;
}
.footer-hot .footer-actions {
  width: 299px;
  position: absolute;
  bottom: 24px;
  right: 15px;
}

.footer-hot .footer-actions {
  width: 299px;
  position: absolute;
  bottom: 43px;
  right: 15px;
}
.footer-hot .footer-actions_2 {
  width: 240px;
  position: absolute;
  bottom: 43px;
  right: 15px;
}
.footer-action a {
  vertical-align: center;
  margin-left: 12px;
}
.footer {
  padding: 692px 24px 24px 24px;
  display: flex;
  justify-content: space-between;
}

.footer-1 {
  padding: 24px 24px 24px 24px;
}

.footer-hot {
  padding: 27px 24px 24px 24px;
}

.centre-footer {
  padding: 542px 24px 24px 24px;
}

.footer-action a {
  vertical-align: center;
  margin-left: 12px;
}

.button {
  padding: 10px;
  border-radius: 8px;
  background: rgb(247, 244, 254);
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  width: 55px;
  box-sizing: border-box;
}

.button:hover {
  background-color: rgb(202, 146, 245);
}

.button-a:hover svg path,
.button-b:hover svg path,
.active-button:hover svg path,
.close:hover svg path {
  fill: rgb(247, 244, 254);
}

.button:hover svg path,
.button:hover svg path {
  stroke: rgb(247, 244, 254);
}

.active-button:hover {
  background-color: rgb(202, 146, 245);
}

.okno-info {
  color: rgb(0, 7, 73);
  font-size: 18px;
  line-height: 24px;
  width: 976px;
  padding: 24px;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

#message,
#message2,
#message3,
#message4,
#message5,
#message6,
#message7 {
  background: rgba(0, 0, 0, 0.55);
  width: 1024px;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 3;
}

#okno,
#okno2,
#okno3,
#okno4,
#okno5,
#okno6,
#okno7 {
  position: absolute;
  right: 24px;
  bottom: 99px;
}

#okno-centre,
#okno-centre2 {
  position: absolute;
  right: 24px;
  bottom: 246px;
}

#message:target,
#message2:target,
#message3:target,
#message4:target,
#message5:target,
#message6:target,
#message7:target {
  display: block;
}

.close {
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 29px;
  right: 24px;
  height: 48px;
}

.centre-close {
  position: absolute;
  top: 542px;
  right: 24px;
}
.container {
  margin: 0 auto 20px auto;
  width: 1024px;
  height: 768px;
  position: relative;
  background-size: contain;
}

.container img {
  max-width: 100%;
}

/* ------------------ New code ------------------ */

.header img {
  width: 100%;
}

.intro__image {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.intro__image img {
  width: 100%;
}

.intro__slide {
  position: relative;
  overflow: hidden;
}

.intro__slide.intro__slide_height {
  min-height: 768px;
  display: flex;
  flex-direction: column;
}

.intro__slide .main {
  flex: 1 1 auto;
}

.intro__back {
  position: absolute;
  left: 24px;
  z-index: 11;
  top: 24px;
}

.intro__back-2 {
  position: absolute;
  left: 24px;
  top: 24px;
  z-index: 11;
}

.intro__more {
  position: absolute;
  z-index: 11;
  top: 24px;
  right: 24px;
}

.intro__more-2 {
  position: absolute;
  z-index: 11;
  top: 24px;
  right: 24px;
}

.intro__additional {
  position: absolute;
  inset: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 15px;
  pointer-events: none;
}

.intro__additional:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(41, 41, 41, 0.6);
  z-index: -1;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  opacity: 0;
  visibility: hidden;
}

.intro__additional._active {
  pointer-events: auto;
}

.intro__additional._active:after {
  opacity: 1;
  visibility: visible;
}

.intro__additional._active .panel-intro__text {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0px, 0);
}

.intro__panel {
  position: absolute;
  inset: 0;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 15px;
  pointer-events: none;
}

.intro__panel:after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(41, 41, 41, 0.6);
  z-index: -1;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  opacity: 0;
}

.intro__panel._active {
  pointer-events: auto;
}

.intro__panel._active:after {
  opacity: 1;
  visibility: visible;
}

.intro__panel._active .panel-intro__main {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0px, 0);
}

.panel-intro__text {
  border-radius: 16px;
  background-color: #fff;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-row-gap: 12px;
  -moz-row-gap: 12px;
  row-gap: 15px;
  font-size: 18px;
  line-height: calc(26 / 18 * 100%);
  margin: 24px;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  -webkit-transform: translate(0, calc(100% + 24px));
  -ms-transform: translate(0, calc(100% + 24px));
  transform: translate(0px, calc(100% + 24px));
}

.panel-intro__main {
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  padding: 11px 35px;
  position: relative;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  -webkit-transform: translate(0, 120%);
  -ms-transform: translate(0, 120%);
  transform: translate(0px, 120%);
}

.panel-intro__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
  -moz-column-gap: 12px;
  column-gap: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}

.panel-intro__icon {
  pointer-events: auto;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  border-radius: 8px;
  background: #f7f4fe;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
}

.panel-intro__icon svg {
  width: 24px;
  height: auto;
}

.panel-intro__icon path {
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
}

.panel-intro__icon_white {
  background-color: #fff;
}

.panel-intro__icon_pink {
  background: #ca92f5;
}

.panel-intro__icon_pink path {
  fill: #fff;
}

.panel-intro__icon_light-pink {
  background: #f7f4fe;
}

.panel-intro__icon_light-pink.panel-intro__icon_fill path {
  fill: #ca92f5;
}

.panel-intro__icon_light-pink.panel-intro__icon_stroke path {
  stroke: #ca92f5;
}

.panel-intro__icon._hide {
  opacity: 0;
  visibility: hidden;
}

.panel-intro__close {
  pointer-events: auto;
  width: 48px;
  -ms-flex-item-align: end;
  align-self: flex-end;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  border-radius: 8px;
  background: #f7f4fe;
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.panel-intro__close svg {
  width: 24px;
  height: auto;
}

.panel-intro__close path {
  -webkit-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  fill: #ca92f5;
}

.panel-intro__close._active {
  opacity: 1;
  visibility: visible;
}

.panel-intro__icon-wrap {
  position: relative;
}

.intro__pdf {
  position: absolute;
  top: 15px;
  left: 80px;
  width: 205px;
  height: 80px;
  z-index: 2;
  display: block;
}

.intro__pdf-2 {
  position: absolute;
  top: 15px;
  left: 80px;
  width: 205px;
  height: 80px;
  z-index: 2;
  display: block;
}

@media (any-hover: hover) {
  .panel-intro__close:hover {
    background-color: #29366b;
  }

  .panel-intro__close:hover path {
    fill: #fff;
  }

  .panel-intro__close_stroke:hover path {
    stroke: #fff;
  }

  .panel-intro__icon:hover {
    background-color: #29366b;
  }

  .panel-intro__icon_fill:hover path {
    fill: #fff;
  }

  .panel-intro__icon_stroke:hover path {
    stroke: #fff;
  }
}
/* ------------------ New code ------------------ */
