@charset "UTF-8";

.popup__inner {
  overflow: auto;
}

.popup__inner::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.popup__inner::-webkit-scrollbar-track {
  background-color: var(--color-light);
}

.popup__inner::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
}

@-moz-document url-prefix()  {
  .popup__inner {
    scrollbar-color: var(--color-accent) var(--color-light);
    scrollbar-width: thin;
  }
}

@font-face {
  font-family: Golos;
  font-display: swap;
  src: url("../fonts/Golos-Medium.woff2") format("woff2"), url("../fonts/Golos-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Lora;
  font-display: swap;
  src: url("../fonts/Lora-Medium.woff2") format("woff2"), url("../fonts/Lora-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.error-page__code,
.sub-menu__link,
.menu__link {
  font-family: Lora, sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: Golos;
  font-display: swap;
  src: url("../fonts/Golos-SemiBold.woff2") format("woff2"), url("../fonts/Golos-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Golos;
  font-display: swap;
  src: url("../fonts/Golos-Regular.woff2") format("woff2"), url("../fonts/Golos-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: Golos, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Lora;
  font-display: swap;
  src: url("../fonts/Lora-SemiBold.woff2") format("woff2"), url("../fonts/Lora-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-preview:before {
  content: "\e90f";
}

.icon-search:before {
  content: "\e910";
}

.icon-check:before {
  content: "\e909";
}

.icon-filter:before {
  content: "\e90b";
}

.icon-angle-down:before {
  content: "\e900";
}

.icon-angle-left:before {
  content: "\e901";
}

.icon-angle-right:before {
  content: "\e902";
}

.icon-angles-right:before {
  content: "\e903";
}

.icon-angle-up:before {
  content: "\e904";
}

.icon-calendar-1:before {
  content: "\e905";
}

.icon-calendar-2:before {
  content: "\e906";
}

.icon-camera-1:before {
  content: "\e907";
}

.icon-camera-2:before {
  content: "\e908";
}

.icon-close:before {
  content: "\e90a";
}

.icon-list:before {
  content: "\e90c";
}

.icon-mark:before {
  content: "\e90d";
}

.icon-microphone:before {
  content: "\e90e";
}

.icon-share:before {
  content: "\e911";
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  border-radius: 0;
}

input:-webkit-autofill {
  -webkit-text-fill-color: transparent;
  -webkit-transition: background-color 600s ease-in-out 0s;
  transition: background-color 600s ease-in-out 0s;
}

button {
  cursor: pointer;
}

[href^="tel:"] {
  white-space: nowrap;
}

[type=search]::-webkit-search-decoration,
[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

html,
body {
  height: 100%;
}

:root {
  --height-header: 79px;
  --height-btn: 48px;
  --padding-page: 14px;
  --gap: 25px;
  --color-dark: #1a3c54;
  --color-hover: #162f41;
  --color-grey: #c1d8e7;
  --color-grey-light: #f1f7ff;
  --color-grey-dark: #507690;
  --color-blue: #5f9dc5;
  --color-blue-light: #c8e2f3;
  --color-blue-dark: #5492ba;
  --color-accent: #c2964d;
  --color-accent-hover: #d6ab63;
  --color-light: #f9fbfe;
  --color-white: #ffffff;
  --color-red: #f5685f;
  --color-green: #7dd891;
  --transition-duration: 0.3s;
  --radius-large: 20px;
  --radius-medium: 16px;
  --radius-normal: 12px;
  --radius-smallest: 6px;
  --text-large: 20px;
  --text-medium: 18px;
  --text-normal: 16px;
  --text-small: 14px;
  --text-smallest: 12px;
}

html.is-lock {
  overflow: clip;
}

html,
body {
  font-size: var(--text-small);
  line-height: 1.1;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: var(--height-header);
  overflow: clip;
}

.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.page > *:last-child {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 var(--padding-page);
  margin: 0 auto;
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-vertical {
  touch-action: pan-x;
}

._h1 {
  font-size: 28px;
}

._h2 {
  font-size: 24px;
}

._h3 {
  font-size: 20px;
}

._h6 {
  font-size: 14px;
}

._p1 {
  font-size: var(--text-small);
  line-height: 1.5;
}

._p2 {
  font-size: var(--text-smallest);
  line-height: 1.4;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--height-btn);
  padding: 0 24px;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  font-size: var(--text-smallest);
  line-height: 1;
  border: 1px solid transparent;
  border-radius: var(--height-btn);
  transition-duration: var(--transition-duration);
  transition-property: color, background-color, border-color;
}

.btn_accent {
  color: var(--color-white);
  background-color: var(--color-accent);
}

.btn_accent:focus-visible {
  outline: none;
  background-color: var(--color-accent-hover);
}

.header {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-light);
}

.header__box {
  display: flex;
}

.header__box_sup {
  background-color: var(--color-grey-light);
}

.header__box_main {
  padding: 14px 0;
}

.header__body {
  display: flex;
}

.header__main_sup {
  justify-content: space-between;
  padding: 18px 0;
}

.sup-menu__link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 22px 20px;
  font-size: var(--text-normal);
  color: var(--color-blue);
  background-color: transparent;
  border: none;
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.sup-menu__link:focus-visible {
  outline: none;
  color: var(--color-accent);
}

.sup-menu__link:active {
  color: var(--color-accent-hover);
}

.sup-menu__link::before {
  margin-right: 14px;
  font-size: 1.6em;
  color: var(--color-blue);
}

.sup-menu__link[data-search-btn]::after {
  content: attr(data-text-open);
}

.is-search-open .sup-menu__link[data-search-btn]::before {
  content: "\e90a";
}

.is-search-open .sup-menu__link[data-search-btn]::after {
  content: attr(data-text-close);
}

.logo {
  position: relative;
  display: flex;
}

.header .logo {
  flex-grow: 1;
  align-items: center;
}

.footer .logo {
  position: relative;
}

.footer .logo::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 100vw;
  background-color: rgb(from var(--color-blue) r g b/0.1);
}

.logo__img-box {
  flex-shrink: 0;
}

.header .logo__img-box {
  width: 48px;
}

.footer .logo__img-box {
  position: relative;
  width: 108px;
}

.logo__img {
  aspect-ratio: 110/115;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.logo__info {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  line-height: 1;
}

.header .logo__info {
  margin: 0 auto;
  text-align: center;
}

.footer .logo__info {
  position: relative;
  margin-left: 30px;
}

.header .logo__title {
  font-size: 14px;
  margin-bottom: 4px;
  color: var(--color-dark);
}

.footer .logo__title {
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--color-white);
}

.logo__desc {
  font-weight: 500;
}

.header .logo__desc {
  font-size: 7px;
  color: var(--color-accent);
}

.footer .logo__desc {
  font-size: 7px;
  color: var(--color-accent);
}

.logo__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.menu {
  flex-grow: 1;
  display: flex;
  line-height: 1.3;
}

.menu__btn {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  aspect-ratio: 1/1;
  color: var(--color-dark);
  background-color: var(--color-grey-light);
  border: none;
  border-radius: var(--radius-normal);
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;
}

.menu__btn:focus-visible {
  outline: none;
}

.is-menu-open .menu__btn {
  color: var(--color-white);
  background-color: var(--color-dark);
}

.menu__icon {
  position: relative;
  width: 22px;
  height: 14px;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  border-radius: 2px;
  transition-duration: var(--transition-duration);
  transition-property: transform, top, bottom;
}

.menu__icon span {
  top: 6px;
}

.menu__icon::before {
  content: "";
  top: 0px;
}

.menu__icon::after {
  content: "";
  bottom: 0px;
}

.is-menu-open .menu__icon span {
  transform: scale(0);
}

.is-menu-open .menu__icon::before {
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
}

.is-menu-open .menu__icon::after {
  transform: translateY(50%) rotate(45deg);
  bottom: 50%;
}

.menu__body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.menu__list {
  padding-top: 6px;
}

.menu__link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--text-normal);
  color: var(--color-dark);
  background-color: transparent;
  border: none;
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.menu__link:focus-visible {
  outline: none;
  color: var(--color-accent);
}

.menu__link:active {
  color: var(--color-accent-hover);
}

.menu__link::before {
  margin-left: 8px;
  font-size: 0.88em;
  color: var(--color-accent);
  transition-duration: var(--transition-duration);
  transition-property: transform;
}

.menu__link._spoller-active::before {
  transform: scaleY(-1);
}

.sub-menu__body {
  background-color: var(--color-grey-light);
}

.sub-menu__main {
  flex-grow: 1;
}

.sub-menu__title {
  display: block;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-size: var(--text-smallest);
  color: var(--color-accent);
}

.sub-menu__link {
  font-size: var(--text-small);
  color: var(--color-dark);
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.sub-menu__link:focus-visible {
  outline: none;
  color: var(--color-accent);
}

.sub-menu__link:active {
  color: var(--color-accent-hover);
}

.sub-menu__img-box {
  flex-shrink: 0;
  width: 178px;
  margin-left: 30px;
}

.sub-menu__img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: var(--radius-large);
}

.header-search {
  position: relative;
  display: flex;
  background-color: var(--color-grey-light);
}

.header-search__box {
  position: relative;
  flex-grow: 1;
  max-width: 100%;
}

.header-search__input {
  width: 100%;
  max-width: 100%;
  padding: 20px 60px 20px 20px;
  font-size: var(--text-small);
  background-color: var(--color-grey-light);
  border: 1px solid transparent;
  transition-duration: var(--transition-duration);
  transition-property: color, background-color, border-color;
}

.header-search__input:focus,
.header-search__input:focus-visible {
  outline: none;
}

.header-search__input:focus::-moz-placeholder, .header-search__input:focus-visible::-moz-placeholder {
  color: transparent;
}

.header-search__input:focus::placeholder,
.header-search__input:focus-visible::placeholder {
  color: transparent;
}

.header-search__input::-moz-placeholder {
  color: var(--color-grey);
}

.header-search__input::placeholder {
  color: var(--color-grey);
}

.header-search__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  aspect-ratio: 1/1;
  color: var(--color-blue);
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.header-search__btn:focus-visible {
  outline: none;
  color: var(--color-accent);
}

.header-search__btn:active {
  color: var(--color-accent-hover);
}

.footer {
  background-color: var(--color-dark);
}

.footer__main {
  padding: 40px 0;
}

.footer__contacts {
  margin: 40px 0 0;
}

.footer__bottom {
  padding: 40px 0;
  color: var(--color-grey);
  background-color: rgb(from var(--color-blue) r g b/0.1);
}

.footer-menu__title {
  margin-bottom: 14px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: var(--text-normal);
  color: var(--color-blue-light);
}

.footer-menu__link {
  font-size: var(--text-small);
  color: var(--color-white);
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.footer-menu__link:focus-visible {
  outline: none;
  color: var(--color-accent);
}

.footer-menu__link:active {
  color: var(--color-accent-hover);
}

.footer-info {
  font-size: var(--text-small);
  line-height: 1.4;
}

.footer-info__box_copy {
  max-width: 463px;
  padding-right: 3px;
}

.footer-info__box_policy {
  width: 300px;
  max-width: 100%;
}

.footer-info__text a {
  text-decoration: underline;
  color: var(--color-accent);
}

.footer-info__text a:focus-visible {
  outline: none;
  text-decoration: none;
}

.footer-info__link {
  text-decoration: underline;
  color: var(--color-accent);
}

.footer-info__link:focus-visible {
  outline: none;
  text-decoration: none;
}

.footer-contacts__social {
  margin-bottom: 40px;
}

.footer-contacts__title {
  margin-bottom: 24px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: var(--text-normal);
  color: var(--color-blue-light);
}

.footer-contacts__btn {
  margin-top: auto;
}

.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px;
}

.social__item {
  flex-shrink: 0;
  margin: 0 10px 20px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1/1;
  color: var(--color-dark);
  background-color: var(--color-white);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;
}

.social__link:focus-visible {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-accent);
}

.social__link svg {
  width: 66%;
  aspect-ratio: 1/1;
}

.social__link svg path {
  fill: currentColor;
}

.footer-list__link {
  color: var(--color-grey);
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.footer-list__link:focus-visible {
  outline: none;
  color: var(--color-accent);
}

.footer-list__link:active {
  color: var(--color-accent-hover);
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  font-size: 0;
  background-color: #000;
}

.video img {
  opacity: 0.4;
}

.video__link,
.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 100px;
  height: 100px;
  background: url("./../img/icons/play.svg") center/contain no-repeat;
  border: none;
}

.video_init .video__button {
  display: block;
}

.breadcrumbs {
  display: flex;
  max-width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
}

.breadcrumbs__item {
  display: flex;
}

.breadcrumbs__item:not(:last-child) {
  color: var(--color-accent);
  white-space: nowrap;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "•";
  margin: 0 4px;
  color: #ccc;
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link:focus-visible {
  outline: none;
  color: var(--color-dark);
}

.breadcrumbs__item:not(:last-child) .breadcrumbs__link:active {
  color: var(--color-dark);
}

.breadcrumbs__item:last-child {
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  line-clamp: 1;
  -ms-line-clamp: 1;
  -webkit-line-clamp: 1;
  color: #ccc;
  overflow: hidden;
}

.breadcrumbs__link {
  color: inherit;
  transition-duration: var(--transition-duration);
  transition-property: color;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__list {
  display: flex;
}

.pagination__item {
  position: relative;
  flex-shrink: 0;
  display: flex;
}

.pagination__item a,
.pagination__item span {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 12px;
  color: var(--color-dark);
  background-color: var(--color-accent);
  transition-duration: var(--transition-duration);
  transition-property: color, background-color;
}

.pagination__item + .pagination__item {
  margin-left: 6px;
}

.pagination__item_active a,
.pagination__item_active span {
  color: var(--color-white);
  background-color: #000;
}

.pagination__item_prev a::after,
.pagination__item_prev span::after,
.pagination__item_next a::after,
.pagination__item_next span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: var(--color-dark);
  border-radius: 1px;
  transition-duration: var(--transition-duration);
  transition-property: border-color;
}

.pagination__item_prev a::after,
.pagination__item_prev span::after {
  transform: translate(-25%, -50%) rotate(45deg);
  border-width: 0 0 2px 2px;
}

.pagination__item_next a::after,
.pagination__item_next span::after {
  transform: translate(-75%, -50%) rotate(-45deg);
  border-width: 0 2px 2px 0;
}

.pagination__item_disabled a::after,
.pagination__item_disabled span::after {
  border-color: #ccc;
}

.pagination__item:not(.pagination__item_active):not(.pagination__item_disabled) a:focus-visible {
  outline: none;
  color: var(--color-white);
  background-color: var(--color-accent);
}

.pagination__item:not(.pagination__item_active):not(.pagination__item_disabled) a:focus-visible::after {
  border-color: var(--color-white);
}

.pagination__item:not(.pagination__item_active):not(.pagination__item_disabled) a:active {
  color: var(--color-white);
  background-color: var(--color-dark);
}

.pagination__item:not(.pagination__item_active):not(.pagination__item_disabled) a:active::after {
  border-color: var(--color-white);
}

.popup {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  transition-duration: var(--transition-duration);
  transition-property: opacity;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup.is-open {
  opacity: 1;
  display: flex;
}

.popup__body {
  position: relative;
  display: flex;
  max-height: 96%;
  background-color: var(--color-white);
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 18px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--color-accent);
  transition-duration: var(--transition-duration);
  transition-property: background-color;
}

.popup__close::before {
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
}

.popup__close::after {
  transform: translateY(50%) rotate(45deg);
  bottom: 50%;
}

.popup__close:focus-visible {
  outline: none;
}

.popup__close:focus-visible::before,
.popup__close:focus-visible::after {
  background-color: var(--color-dark);
}

.popup__close:active::before,
.popup__close:active::after {
  background-color: var(--color-dark);
}

.popup__inner {
  flex-shrink: 0;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-page__body {
  display: flex;
  flex-direction: column;
  max-width: calc(360px + var(--padding-page) * 2);
  padding: 100px var(--padding-page) 150px;
  text-align: center;
}

.error-page__code {
  margin-bottom: 35px;
  font-size: 64px;
  color: var(--color-accent);
}

.error-page__text {
  margin-bottom: 35px;
}

@media (min-width: 359.98px) {
  .footer .logo__title {
    font-size: 20px;
  }

  .footer .logo__desc {
    font-size: 10px;
  }
}

@media (min-width: 479.98px) {
  .btn {
    width: auto;
  }

  .footer-contacts__btn {
    min-width: 160px;
  }
}

@media (min-width: 575.98px) {
  .container {
    max-width: 568px;
  }

  .error-page__btn {
    align-self: center;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 748px;
  }

  .footer-menu {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px -36px;
  }

  .footer-menu__box {
    flex-grow: 1;
    margin: 0 20px 36px;
  }

  .footer-contacts {
    display: flex;
  }

  .error-page__code {
    font-size: 104px;
  }
}

@media (min-width: 1023.98px) {
  :root {
    --height-header: 91px;
  }

  .container {
    max-width: 968px;
  }

  .header__box_main {
    padding: 20px 0;
  }

  .footer .logo {
    flex-shrink: 0;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    width: 185px;
    padding: 40px 22px 22px;
    margin-right: 38px;
  }

  .footer .logo::before {
    width: 100%;
    border-radius: 400px 400px 0 0;
  }

  .footer .logo__img-box {
    width: 78px;
    margin-bottom: 32px;
  }

  .footer .logo__info {
    margin-left: 0;
    text-align: center;
  }

  .footer .logo__desc {
    color: var(--color-blue-light);
  }

  .footer__body {
    display: flex;
    align-items: center;
    padding: 30px 0;
  }

  .footer__main {
    flex-grow: 1;
    padding: 0;
  }

  .footer__bottom {
    padding: 30px 0;
  }

  .footer-info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px -20px;
  }

  .footer-info__box {
    flex-shrink: 0;
    margin: 0 20px 20px;
  }

  .footer-info__box_copy {
    width: 420px;
  }

  .footer-info__box_address {
    width: 257px;
  }

  .footer-info__box_contacts {
    width: 183px;
  }

  .footer-info__box_policy {
    width: 420px;
  }
}

@media (min-width: 1279.98px) {
  :root {
    --height-header: 143px;
  }

  html,
  body {
    font-size: var(--text-normal);
  }

  .container {
    max-width: 1228px;
  }

  ._p1 {
    font-size: var(--text-normal);
    line-height: 1.7;
  }

  ._p2 {
    font-size: var(--text-small);
    line-height: 1.3;
  }

  .btn {
    font-size: var(--text-small);
  }

  .header__box_main {
    padding: 0;
  }

  .header__main {
    flex-shrink: 0;
    width: 73%;
    display: flex;
    margin-left: auto;
  }

  .sup-menu {
    display: flex;
  }

  .sup-menu__item + .sup-menu__item {
    margin-left: 34px;
  }

  .sup-menu__link {
    width: auto;
    padding: 0;
    font-size: var(--text-small);
  }

  .header .logo {
    flex-grow: 0;
    align-items: flex-end;
    margin-top: -32px;
    margin-right: 30px;
    margin-bottom: 20px;
  }

  .header .logo__img-box {
    width: 88px;
    padding: 10px 3px 0;
    background-color: var(--color-white);
    border-radius: 400px 400px 0 0;
  }

  .header .logo__info {
    text-align: left;
    margin: 0 0 0 28px;
  }

  .menu__btn {
    display: none;
  }

  .menu__body {
    position: relative;
    flex-grow: 1;
    flex-direction: row;
    overflow: visible;
  }

  .menu__list {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
  }

  .is-search-open .menu__list {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .menu__item {
    position: relative;
    display: flex;
  }

  .menu__item + .menu__item {
    margin-left: 20px;
  }

  .menu__item:nth-child(n+8) {
    display: none;
  }

  .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: margin, padding !important;
  }

  .sub-menu:not([hidden]) {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .sub-menu__body {
    display: flex;
    align-items: center;
    padding: 24px;
    background-color: var(--color-white);
    border-radius: 0 0 var(--radius-large) var(--radius-large);
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: var(--color-grey-light);
  }

  .sub-menu__list {
    min-width: 200px;
  }

  .sub-menu__item + .sub-menu__item {
    margin-top: 14px;
  }

  .sub-menu__link {
    font-size: var(--text-normal);
  }

  .header-search {
    position: absolute;
    z-index: -10;
    top: 0;
    right: -5px;
    bottom: 0;
    left: -5px;
    align-items: center;
    padding: 0 5px;
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .is-search-open .header-search {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .header-search__input:focus,
  .header-search__input:focus-visible {
    border-color: var(--color-blue);
  }

  .header-search__input {
    height: var(--height-btn);
    padding: 0 60px 0 20px;
    background-color: var(--color-white);
    border-color: var(--color-grey);
    border-radius: var(--height-btn);
  }

  .footer__main {
    display: flex;
  }

  .footer__contacts {
    flex-shrink: 0;
    width: 182px;
    margin: 0 0 0 38px;
  }

  .footer-menu__box:nth-child(n+5) {
    display: none;
  }

  .footer-menu__title {
    margin-bottom: 18px;
  }

  .footer-menu__item + .footer-menu__item {
    margin-top: 14px;
  }

  .footer-info__box_copy {
    width: 352px;
  }

  .footer-info__box_address {
    width: 305px;
  }

  .footer-info__box_contacts {
    width: 183px;
  }

  .footer-info__box_policy {
    width: 240px;
  }

  .footer-contacts {
    flex-direction: column;
  }

  .error-page__body {
    padding: 154px var(--padding-page);
  }

  .error-page__code {
    font-size: 128px;
  }
}

@media (any-hover: hover) and (min-width: 1279.98px) {
  .header-search__input:not(:active):hover {
    border-color: var(--color-blue);
  }
}

@media (min-width: 1489.98px) {
  :root {
    --height-header: 165px;
  }

  .container {
    max-width: 1478px;
  }

  ._h1 {
    font-size: 42px;
  }

  ._h2 {
    font-size: 38px;
  }

  ._h3 {
    font-size: 32px;
  }

  ._h6 {
    font-size: 16px;
  }

  .header__main {
    width: 67.6%;
  }

  .sup-menu__item + .sup-menu__item {
    margin-left: 56px;
  }

  .header .logo {
    margin-top: -40px;
    margin-right: 60px;
  }

  .footer .logo {
    width: 246px;
    padding: 48px 30px 40px;
    margin-right: 72px;
  }

  .header .logo__img-box {
    width: 118px;
    padding: 13px 5px 0;
  }

  .footer .logo__img-box {
    width: 102px;
  }

  .header .logo__title {
    margin-bottom: 8px;
    font-size: 20px;
  }

  .footer .logo__title {
    margin-bottom: 14px;
  }

  .header .logo__desc {
    font-size: 10px;
  }

  .sub-menu__body {
    padding: 34px;
  }

  .footer__contacts {
    width: 242px;
    margin: 0 0 0 72px;
  }

  .footer-info__box_copy {
    width: 463px;
  }

  .footer-info__box_address {
    width: 334px;
  }

  .footer-info__box_contacts {
    width: 290px;
  }

  .footer-info__box_policy {
    width: 243px;
  }
}

@media (max-width: 1279.98px) {
  .header__box_sup {
    display: none;
  }

  .sup-menu__item + .sup-menu__item {
    border-top: 1px solid var(--color-grey-light);
  }

  .menu__body {
    position: fixed;
    z-index: -10;
    top: var(--height-header);
    right: 0;
    bottom: 0;
    left: 0;
    max-height: calc(100% - var(--height-header));
    padding-bottom: 16px;
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .is-menu-open .menu__body {
    z-index: 19;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu__item {
    border-bottom: 1px solid var(--color-grey-light);
  }

  .menu__link {
    width: 100%;
    padding: 18px 20px;
  }

  .menu__link[class*=icon-] {
    justify-content: space-between;
  }

  .sub-menu__title {
    display: none;
  }

  .sub-menu__item + .sub-menu__item {
    border-top: 1px solid var(--color-white);
  }

  .sub-menu__link {
    display: flex;
    align-items: center;
    padding: 14px 20px;
  }

  .sub-menu__img-box {
    display: none;
  }

  .footer-menu__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px -14px;
  }

  .footer-menu__item {
    margin: 0 7px 14px;
  }
}

@media (max-width: 1023.98px) {
  .footer .logo {
    padding: 15px 0 25px;
    align-items: flex-end;
  }

  .footer-info__box br {
    display: none;
  }

  .footer-info__box + .footer-info__box {
    margin-top: 20px;
  }

  .video__button {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 767.98px) {
  .footer-menu__box + .footer-menu__box {
    margin-top: 40px;
  }

  .video__button {
    width: 60px;
    height: 60px;
  }

  .pagination__item a,
  .pagination__item span {
    width: 40px;
    height: 40px;
  }

  .pagination__item + .pagination__item {
    margin-left: 2px;
  }
}

@media (max-width: 479.98px) {
  .video__button {
    width: 36px;
    height: 36px;
  }
}

@media (min-width: 575.98px) and (max-width: 1279.98px) {
  .header .logo__title br {
    display: none;
  }
}

@media (min-width: 1023.98px) and (max-width: 1489.98px) {
  .footer .logo__title {
    font-size: 14px;
  }

  .footer .logo__desc {
    font-size: 7px;
  }
}

@media (min-width: 767.98px) and (max-width: 1279.98px) {
  .footer-menu__box:nth-child(even) {
    flex-basis: 47%;
  }

  .footer-menu__box:nth-child(odd) {
    flex-basis: 33%;
  }

  .footer-contacts__social {
    flex: 0 0 325px;
    margin-bottom: 0;
  }
}

@media (min-width: 1023.98px) and (max-width: 1279.98px) {
  .footer-info__box_copy {
    padding-right: 0;
  }
}

@media (any-hover: hover) {
  .btn_accent:not(:active):hover {
    background-color: var(--color-accent-hover);
  }

  .sup-menu__link:not(:active):hover {
    color: var(--color-accent);
  }

  .menu__link:not(:active):hover {
    color: var(--color-accent);
  }

  .sub-menu__link:not(:active):hover {
    color: var(--color-accent);
  }

  .header-search__btn:not(:active):hover {
    color: var(--color-accent);
  }

  .footer-menu__link:not(:active):hover {
    color: var(--color-accent);
  }

  .footer-info__text a:not(:active):hover {
    text-decoration: none;
  }

  .footer-info__link:not(:active):hover {
    text-decoration: none;
  }

  .social__link:not(:active):hover {
    color: var(--color-white);
    background-color: var(--color-accent);
  }

  .footer-list__link:not(:active):hover {
    color: var(--color-accent);
  }

  .breadcrumbs__item:not(:last-child) .breadcrumbs__link:not(:active):hover {
    color: var(--color-dark);
  }

  .pagination__item:not(.pagination__item_active):not(.pagination__item_disabled) a:not(:active):hover {
    color: var(--color-white);
    background-color: var(--color-accent);
  }

  .pagination__item:not(.pagination__item_active):not(.pagination__item_disabled) a:not(:active):hover::after {
    border-color: var(--color-white);
  }

  .popup__close:not(:active):hover::before,
  .popup__close:not(:active):hover::after {
    background-color: var(--color-dark);
  }
}